[2018-02-12 18:29] ashleygwilliams opened #1 "use metadata in Cargo.toml"
- pkg name
- description
- license
- repo

[2018-02-12 18:30] ashleygwilliams opened #2 "author data?"
we can grab author data from Cargo as well, but we MIGHT consider checking if there is an `.npmrc` and preferring that if it exists

[2018-02-13 19:08] sendilkumarn commented on #2
Do you think creating a npmrc crate makes sense here? to fetch some information from npm related files or do we already have one?

[2018-02-13 19:11] ashleygwilliams commented on #2
npmrc crate- it's possible. what would you envision it doing? i can spin something up like that pretty quick. i'll play around with it today!

[2018-02-13 19:11] sendilkumarn commented on #1
I can take a shot on this one. I think package name and description are done already.

[2018-02-13 19:13] sendilkumarn commented on #2
yup basically, think it will be more useful if we want to fetch some more information from the npmrc or anyother npm based files in future.

[2018-02-13 19:48] ashleygwilliams commented on #1
hi @sendilkumarn thanks for the offer but this project isn't ready for contributors right now! i'll let you know when we're ready to involve more folk :)

[2018-02-21 16:34] #1 closed

[2018-02-21 16:36] ashleygwilliams opened #7 "readmes?"
in generating an npm package from a rust/wasm project do we anticipate that the author would want to reuse the README from the rust crate or create a new one?

[2018-02-26 16:02] yoshuawuyts commented on #7
I'm thinking ideally we could _generate_ a README. In JS land READMEs are usually some metadata + statement of intent + API documentation.

Most of the metadata can probably be extracted from `Cargo.toml`. API docs can probably be generated from the generated code. Because it's typescript, we can probably also find the signatures (although this probably requires some patches). Statement of intent

[2018-02-27 13:34] yoshuawuyts commented on #2
Took a quick stab at creating a crate specifically for this. https://github.com/yoshuawuyts/npmrc. Added you both as collaborators, so if there's anything not working any one of us can easily fix it!

Usage should be reasonably straight forward:
[code]

Under the hood it's using [serde-ini](https://github.com/arcnmx/serde-ini) for the parsing. I haven't quite gotten enums to work as expected tho,

[2018-02-27 15:43] sendilkumarn commented on #2
I guess, first cut we should just extract the authors and then concentrate on making this crate to parse all the available information.

WDYT?

[2018-02-27 20:14] ashleygwilliams opened #10 "shell out to cargo build and wasm-bindgen"
after talking with @alexcrichton about this, it seems like shelling out vs using cargo/wasm-bindgen as libraries is not a clear call. shelling out is easier so i'mma do that for now! we may move to the library usage later tho.

[2018-02-27 20:54] ashleygwilliams commented on #2
i'm working on implementing this rn! PR incoming

[2018-02-27 21:01] ashleygwilliams commented on #2
https://github.com/ashleygwilliams/wasm-pack/pull/11

[2018-02-27 21:07] ashleygwilliams opened #12 "handle the specific errors specifically"
right now i'm lazily(read: barely) using Failure and haven't defined any error shenanigans. i should fix that!

[2018-03-01 16:19] ashleygwilliams opened #13 "integrating wasm-bindgen"
there are several steps to using `wasm-bindgen` that i'd like to discuss here:

1. `rustup target add wasm32-unknown-unknown`
2. add `wasm-bindgen` as a dep to `Cargo.toml`:

[code]

3. add the following code to your `src/lib.rs`:

[code]

4. add this annotation to each publicly exported function:

[code]

5.  `cargo build --release --target wasm32-unknown-unknown`
6.  `cargo install --git https:/

[2018-03-01 16:41] ashleygwilliams commented on #13
also curious for @linclark, @yoshuawuyts, @sendilkumarn's thoughts on the ergonomics of this all. i think i'm leaning towards we can do everything... except 3 as people will probably want to configure that and parsing the whole crate might be a huge pain in the butt and be too brittle to really give a nice ergonomic solution.

[2018-03-01 16:59] alexcrichton commented on #13
FWIW the code for this example in wasm-bindgen will one day be:

[code]

in that `#![feature]` will eventually get stabilized (procedural macros), `extern crate` annotations will no longer be necessary (an epoch change), and the `extern` block won't be necessary with [WebIDL-generated binding crates](https://github.com/alexcrichton/wasm-bindgen/issues/42). It may also be reasonable to not require

[2018-03-02 16:31] ashleygwilliams opened #14 "progress bars?"
some of the build steps, particularly the compilation step is a little long, it might be nice to have some progress bars? is there an efficient rust progress bar lib for the CLI? @killercup maybe you know?

[2018-03-02 16:32] killercup commented on #14
I think you're going to like https://crates.io/crates/indicatif :)

[2018-03-02 16:32] ashleygwilliams commented on #14
yay thank u @killercup <3<3

[2018-03-02 16:32] #14 closed

[2018-03-02 16:33] ashleygwilliams opened #15 "implement progress bars with indicatif"
https://crates.io/crates/indicatif (thanks for the suggestion @killercup)

[2018-03-02 16:42] ashleygwilliams opened #16 "reorg to use example project"
currently i'm "testing" this tool by running it recrusively on itself (i.e. using the wasm-pack cargo.toml and wasm-pack rust files to compile)

this stops working now that i'm trying to build to wasm, as much of the code in the rust files for this project won't compile to wasm for several reasons.

rewrite this to be targeting an example so it actually compiles

[2018-03-02 16:44] ashleygwilliams commented on #7
this is a great suggestion @yoshuawuyts - i really like it! do you think creating a separate crate to handle taking rustdoc generation -> markdown file would be useful? then we could just integrate it in here. seems like a vaguely big enough job that it warrants another crate. thoughts?

[2018-03-02 16:52] ashleygwilliams opened #18 "test using assert_cli"
https://github.com/killercup/assert_cli

[2018-03-02 18:01] ashleygwilliams opened #20 "take a manifest path as an argument"
right now the cli assume you are running the tool in the directory you want packed. this makes testing this thing a huge pain in the butt. let's optionally take a argument that points to the path of a `Cargo.toml` (cargo does this as well)

blocking #19

[2018-03-02 18:02] ashleygwilliams commented on #16
fixed by #17 blocked by #20

[2018-03-02 22:45] sendilkumarn commented on #13
@ashleygwilliams I haven't played enough with `bindgen` (which I will hopefully do it in next week) But having a quick look. I too find adding 1,5 and 7 and leaving 3 & 4 makes super sense. OTOH, would love to add a sample repo to how to do 3&4 would be cool 😎 WDYT?

[2018-03-02 23:08] ashleygwilliams opened #21 "if provided a path should wasm pack generate a pkg in the current path or provided one"
as of #19 we can take a path as an argument

current behavior: creates `pkg` dir in current path

question: should it create the `pkg` dir in current path or the one provided?

[2018-03-02 23:09] #16 closed

[2018-03-02 23:47] ashleygwilliams commented on #15
zomg after https://github.com/ashleygwilliams/wasm-pack/pull/17 we def need this so bad, the experience is garbage without it (she says experiencing it rn)

[2018-03-03 23:14] ashleygwilliams commented on #21
ok because of some nonsense in #17 i'm gonna make the `pkg` dir in the provided path, if provided, otherwise, it will default to `.`

[2018-03-03 23:14] #21 closed

[2018-03-04 00:31] #10 closed

[2018-03-04 00:31] ashleygwilliams commented on #20
closed by #17

[2018-03-04 00:31] #20 closed

[2018-03-04 00:31] ashleygwilliams commented on #13
@sendilkumarn done! totally agree :) see #17

[2018-03-04 00:31] #13 closed

[2018-03-04 00:37] ashleygwilliams opened #23 "mark pack and publish as not impled in --help output in prep to publish to crates.io"

[2018-03-04 00:38] ashleygwilliams opened #24 "move stuff outta lib.rs into manifest.rs"

[2018-03-04 00:53] ashleygwilliams opened #25 "reading the cargo toml 2x is kinda gross"
*This issue is reserved for someone who has not yet contributed to this codebase.*

Currently we read the Cargo.toml twice! this is not preferred:

1. read it to write package.json
2. read it to pass crate name to wasm-bindgen

MENTORING INSTRUCTIONS (from @mgattozzi !):

1) Create a small expression or function to read the `Cargo.toml` file to a `String` and assign it to a variable, maybe somethi

[2018-03-04 01:00] ashleygwilliams opened #27 "set up appveyor"

[2018-03-04 01:06] #23 closed

[2018-03-04 01:25] #27 closed

[2018-03-05 18:33] ashleygwilliams opened #29 "update contributing in prep to open up project"

[2018-03-05 18:35] ashleygwilliams opened #30 "copy over readme from crate (~for now~)"
for 0.1.0 let's just copy over the README.md from the crate

there's great convo in #7 and i'd like to move to something more like that for 0.2.0 or greater.

[2018-03-05 21:43] mgattozzi commented on #25
You could read it in via `lazy_static` and reference it when you need it rather than reading it twice.

[2018-03-06 13:33] yoshuawuyts commented on #18
I was thinking [dir-diff](https://github.com/steveklabnik/dir-diff) might be a good one too for the output. E.g. https://github.com/ashleygwilliams/wasm-pack/pull/32 doesn't have any tests, but using dirdiff, it should be quite convenient to test the output.

[2018-03-06 19:17] ashleygwilliams commented on #18
@yoshuawuyts yeah! i am speaking to some of the CLI-WG team on gitter and they suggested that as well. are you interested in tackling any of this testing? i could do it on my own but since you've taken some interest, i'm super down to let you take a crack at it if you'd like!

[2018-03-06 21:40] yoshuawuyts commented on #18
@ashleygwilliams done!

[2018-03-07 15:37] Pauan opened #35 "Consider renaming the project"
When I read "wasm-pack" I think of something that packages `.wasm` code into a `.zip` or `.tar.gz` file. It also might cause some confusion with the `npm pack` command.

Instead, I think "wasm2npm" or "wasm-to-npm" would be much better names. They make it clear that this tool is designed to be used with npm, and they also make it clearer what it does (it converts `.wasm` into a form that npm can u

[2018-03-08 17:49] ashleygwilliams commented on #35
@Pauan so the goal of this is to eventually be a whole packaging and publishing tool. right now it does the prep work and asks users to use npm to publish, but given that the goal is to have a `wasm-pack publish` command and `wasm-pack pack` command i think wasm-pack still works. so i guess tl;dr the name is a little ambitious...

i did never really like the name tho, so i am open to a new one, th

[2018-03-08 17:52] Pauan commented on #35
Why not just `wasm-npm` then? `wasm-npm publish` and `wasm-npm pack` sound pretty good to me.

[2018-03-08 18:37] ashleygwilliams opened #36 "test if the package.json has correct data, not just that it is there"

[2018-03-08 18:38] ashleygwilliams opened #37 "test if the README is a correct copy, not just that it is there"

[2018-03-08 18:38] ashleygwilliams opened #38 "warn if the crate doesn't have a readme"
currently if the crate doesn't have a readme it just kinda skips over. i think it'd be nice to warn

[2018-03-08 18:39] ashleygwilliams commented on #38
(the tests will panic if the crate doesn't have a readme, but running the command won't panic)

[2018-03-08 18:41] #30 closed

[2018-03-08 18:42] ashleygwilliams opened #39 "cleanup tool messaging output"
it looks gross right now

[2018-03-08 18:42] ashleygwilliams commented on #24
closed by #32

[2018-03-08 18:42] #24 closed

[2018-03-08 18:52] ashleygwilliams opened #40 "use Cargo version of wasm-bindgen, not the git repo"
wasm-bindgen was released! we should use the cargo version instead of a git dep :)

happy to have a contributor pick this one up

[2018-03-08 18:54] ashleygwilliams commented on #35
that's certainly less redundant. @yoshuawuyts @sendilkumarn any thoughts?

[2018-03-08 18:57] ashleygwilliams commented on #35
hrm. the only thing i'm vaguely concerned about is if using the `npm` name is correct or maybe problematic... there's a large yarn community and tbh the implementation will be agnostic to either of those CLIs tho the default registry will still be the npm one. not sure how to sort that.

[2018-03-08 19:01] Pauan commented on #35
I think that's okay (and I'm a big `yarn` user).

Yeah it can be used with yarn, but *publishing* is still npm-specific, and all of the specifications (`package.json`, etc.) are all made by npm.

What use cases do you imagine for people who want to combine `wasm-npm` and yarn?

[2018-03-08 19:06] ashleygwilliams commented on #35
i wasn't imagine a use case- just not wanting to be divisive.

[2018-03-08 19:06] ashleygwilliams commented on #35
(i used to work at npm and i dont want people to be thinking that im privileging it or something, the internet gets mad)

[2018-03-08 19:58] Pauan commented on #35
I can understand that sentiment, but right now I don't have a better suggestion than `wasm-npm`

[2018-03-09 15:06] #40 closed

[2018-03-09 16:40] mgattozzi opened #43 "Warn on all missing fields in Cargo.toml"
When using wasm-pack via `wasm-pack init` only one field at a time is output as to what's missing from the Cargo.toml file. It would be nicer if all the fields missing were printed out all at once!

[2018-03-09 16:53] ashleygwilliams commented on #43
ah yes! great. the error handling is p garbage rn (#12). thanks for filing this!

[2018-03-09 17:40] mgattozzi opened #44 "No stdout when compiling"
When using `wasm-pack init` the following output is produced:

[code]

This makes it seem like there was supposed to be output. If there's not it should just cut off the rest of the sentance after and.

[2018-03-09 17:41] ashleygwilliams commented on #44
yup, working on this now in combination with #39

[2018-03-09 18:26] ashleygwilliams opened #45 "--scope flag on init command"
@mgattozzi brought this up while working on the tutorial. we should support namespaces (which are called scopes in npm land)! this way people taking the tutorial won't all attempt to publish a pkg with the same name.

`wasm-pack init --scope MYSCOPE` should write to the package.json:

[code]

[2018-03-09 21:23] mgattozzi opened #46 "Installing wasm-bindgen tool is non obvious"
When first running wasm-pack there's no indication that wasm-bindgen is being installed at first. I had a huge spike in CPU usage and was confused why it happened the first time I ran the command. It wasn't until looking in the code for something that I saw why.

If this is the first time then we should print out that it will be compiled and installed. If it's not and it exists and the version is

[2018-03-12 15:01] ashleygwilliams opened #47 "readme example not up to date"
after #40 we didn't update the readme. oops!

[2018-03-12 15:41] #47 closed

[2018-03-13 19:23] #39 closed

[2018-03-13 19:25] ashleygwilliams opened #50 "write a log with all the stout/sterr"
#49 turned off all the stdout/err fwding. this output is still useful for debugging when people run into issues, so let's write it to a `wasm-pack-debug.log`

[2018-03-13 19:26] ashleygwilliams commented on #44
now that i've merged #49 i'm curious if you think this is ok now? i've turned off all the std out shenanigans

[2018-03-13 19:27] ashleygwilliams opened #51 "if target/wasm-bindgen already exists don't attempt to re-add/install it"

[2018-03-13 19:27] ashleygwilliams commented on #46
now that i've merged #49 i'm curious if you think this is ok now? i've made it clear that one step is installing wasm-bindgen and i've filed #51 to eventually account for not taking that step if we don't need to

[2018-03-13 19:28] ashleygwilliams commented on #15
closed by #49

[2018-03-13 19:28] #15 closed

[2018-03-14 03:08] mgattozzi commented on #46
@ashleygwilliams I'll need to run this tomorrow at some point. Will let you know!

[2018-03-14 09:27] #36 closed

[2018-03-14 10:27] #37 closed

[2018-03-14 15:03] ashleygwilliams commented on #35
so, there's a bunch of blogposts going out and people have made assets so i think until perhaps the epoch we are mostly stuck with this name. tbh i still think it really does what it says it does so i don't really mind, but i'm open to more suggestions. i dont think i want npm to be in the name tho, so if we want to come up with a new one, let's avoid putting npm in the name. thanks!

[2018-03-14 15:18] steveklabnik opened #56 "move examples to tests to avoid non-idiomatic use confusion"
Due to the way examples is used, they're not recognized by Cargo, and therefore, not compiled when `cargo test` is run.

[2018-03-14 15:22] #38 closed

[2018-03-14 15:23] ashleygwilliams commented on #56
as mentioned in air, let's move them to test since that's what they are really for. if you'd like to grab this go for it

[2018-03-14 15:25] steveklabnik commented on #56
👍

[2018-03-14 16:36] #56 closed

[2018-03-14 17:02] sendilkumarn commented on #35
@ashleygwilliams I thought somebody is using `wasm-pack` and you are changing the name because of that, if not please don't change 🙂

[2018-03-14 20:46] mgattozzi commented on #44
This looks good to me and is a bit more accurate. I think we can close this in favor of #50

[2018-03-14 20:46] #44 closed

[2018-03-14 20:47] mgattozzi commented on #46
This looks good to me! I think we can definitely follow up with #51 now.

[2018-03-14 20:47] #46 closed

[2018-03-15 11:41] #45 closed

[2018-03-15 22:39] sebinsua commented on #43
I also found it difficult to know what it was telling me.

It would be good if it said something like "[ERROR] The following fields are missing from your `Cargo.toml`: repository, license"

I honestly thought that it was just giving me a warning, and spent 10 minutes ignoring the message, and wondering why it wasn't working... >_<

[2018-03-16 05:38] ashleygwilliams commented on #43
@sebinsua - sorry you ran into that trouble. this is def a feature we are going to implement!

[2018-03-16 13:54] mgattozzi opened #63 "Example usage documentation"
While my tutorial over on rust-wasm hasn't landed in the book yet it will soonish. However, we want people to be able to reference something a little less longform as well because sometimes all you need is a few words describing how to use the tool.

We should make docs that are short like the readme but explain things like using the scope flag etc. Also maybe even use asciinema to show some visua

[2018-03-16 15:55] mgattozzi commented on #43
Just put a PR in to fix this! :D

[2018-03-28 15:45] aidanhs opened #69 "use Cargo version of wasm-bindgen to better ensure not-broken build"
Otherwise at the whims of whatever is on wasm-bindgen master, which bit us today.
<hr/>
*This is an issue reserved for someone who does not yet contribute to this repository.*

### MENTORSHIP INSTRUCTIONS:

Currently we install `wasm-bindgen` as a git dep. but we shouldn't! it's [published on Cargo now](https://crates.io/crates/wasm-bindgen)! change [these lines](https://github.com/ashleygwilliams

[2018-03-29 15:33] ashleygwilliams commented on #2
closed by #70

[2018-03-29 15:33] #2 closed

[2018-03-29 15:35] ashleygwilliams opened #71 "refactor out the panics"
as per @mgattozzi's comments on #67 and my own nagging gut, let's refactor out those panics when we are shelling out so we can have nicer error handling

[2018-03-29 15:36] ashleygwilliams commented on #69
@aidanhs how do u suppose we do this? (am genuinely unsure)

[2018-04-02 12:09] ashleygwilliams opened #72 "document how to get rustfmt on nightly in "up and running""
so- i originally put rustfmt in CI because i like enforcing style. however because this is on nightly and not yet stabilized the contributor experience is p poopy (cc @yoshuawuyts). thoughts on me ripping it out and just running it and commiting everyone once in a while? (this can make history really gross and i do love using git as a good history tool, but it might not be worth it at this point)

[2018-04-02 12:11] ashleygwilliams commented on #69
oh! this still relies on a git dep of wasm-bindgen. boo. ok. i think the solution here is to just rely on the Cargo version. i can make a PR for this. i don't think @alexcritchon will be publishing a broken build and i want to rely on the release version anyways. thanks ya'll!

[2018-04-02 12:11] ashleygwilliams commented on #69
(sorry for the confusion i was p certain that had been updated by a PR someone else sent it but i clearly did not review closely!)

[2018-04-02 12:16] yoshuawuyts commented on #72
yeah, still haven't fixed it yet, but haven't put in the time yet. I don't mind having development be nightly only for now. I don't mind if it stays tbh; it's def useful!

[2018-04-02 12:17] sendilkumarn commented on #72
How about adding them in pre-push hooks?

And I do agree with @yoshuawuyts have it but don't worry about it.

[2018-04-02 12:30] ashleygwilliams commented on #72
@sendilkumarn i think it would be just as frustrating as a pre-push hook, and a lot more to set up. i'll see what other contribs think (@mgattozzi has been bit by this so much, thankful for his patience), but sounds like we're should probably just keep it?

if someone wants to add a section to the current "up and running" section of the README about how to get cargo fmt setup correctly i would wel

[2018-04-02 14:19] mgattozzi commented on #72
@ashleygwilliams I personally don't mind. It's just a quick fix. It'd be nice if there was some kind of pre-push hook but you can't distribute those easily as part of a repo which has always seemed like a dumb move on git's part. I'm for keeping it to enforce style. We can always make it a part of the check list when submitting a PR by creating a template that GitHub can use.

[2018-04-02 14:22] #69 closed

[2018-04-04 11:28] ashleygwilliams opened #74 "update wasm-bindgen dep to 0.2.0"

[2018-04-04 11:28] ashleygwilliams opened #75 "--nodejs flag"
we support commonjs in wasm-bindgen now, let's have it be an option to pass to wasm pack!

[2018-04-04 12:43] #43 closed

[2018-04-04 12:58] #74 closed

[2018-04-04 14:15] ashleygwilliams commented on #18
this has some issue with windows compat!

[2018-04-04 15:04] mgattozzi commented on #25
Once #66 lands this will already have lazy_static installed so the steps for that would then be:

1) Create a small expression or function to read the `Cargo.toml` file to a `String` and assign it to a variable, maybe something like `CARGO_TOML`
2) Replace instances of it being read with the variable you just created
3) Remove any code associated with reading the file

It's a small issue, but it'l

[2018-04-04 15:19] ashleygwilliams commented on #25
yesss

[2018-04-04 20:59] data-pup commented on #25
Hi! I'd love to help out with this issue. I can start working on this today, and follow up if I have any further questions :smile:

[2018-04-05 02:43] iAmao commented on #25
The path is also not constant. I'm a neewb so I'm unsure of how to access it in the `manifest` file without using functions.

[2018-04-05 18:06] data-pup commented on #25
I took a swing at this! I wasn't able to figure out how to use `lazy_static` for this, so I moved the `read_cargo_toml` call up into the main function. The changes I made on my fork are here, should I make a pull request? I can also try again if this doesn't seem like the correct route.

https://github.com/data-pup/wasm-pack/commit/73e5ef9870af141529d37aa96f7120690bc04778

[2018-04-05 18:12] mgattozzi commented on #25
@data-pup I had a whole answer then realized what you meant. I tested this out quickly so I know I won't be sending you down the wrong path. I'll just let you do it and learn! :D

So the big problem here is that there is a lib.rs and a main.rs file. You can't access the manifest file and the path handed to the program without knowing the arguments. They actually shouldn't be separate for a command

[2018-04-05 18:16] mgattozzi commented on #25
@data-pup I also just saw your comment after typing this out. That also works as a solution, but we're adding more argument calls to functions, which we can avoid here with lazy-static. It'll help keep our signature functions less "noisy" and allow us to easily use that data in other places later on. Try the above out and if that's still not possible at all then lets go this route, but I'm certain

[2018-04-05 18:30] data-pup commented on #25
@mgattozzi Thanks for following up, that makes sense to me! Definitely agree about the fact that adding arguments seemed kind of noisy. I'll hold up on this for now, per Ashley's comment above, but I would love to help out once a strategy is decided on :)

[2018-04-05 18:49] data-pup commented on #25
Of course! Sounds good to me : ) Good luck!

[2018-04-05 18:52] mgattozzi commented on #25
In the meantime if there's another issue you want to take a crack at definitely do so! :D

[2018-04-05 19:31] ashleygwilliams commented on #25
oh yeah plz @data-pup - even if it isn't marked as helpwanted or good first issue, lemme know and we'll get u set up with it. i feel bad about this sitch :( <3 and want u to get a chance to contribute!

[2018-04-06 03:29] data-pup commented on #51
I would love to help out with this one if it wouldn't be too difficult for a first contribution! Would you have any advice for identifying whether or not target/wasm-bindgen exists already?

I'm guessing that this would mean adding a check to the `cargo_install_wasm_bindgen` function, but I'm not quite sure what the correct method is to identify whether wasm-bindgen has already been added.

[2018-04-06 12:05] ashleygwilliams commented on #51
hey @data-pup ! so, i wasn't actually entirely sure- this stack overflow answer seems mostly reasonable: https://stackoverflow.com/questions/35045996/check-if-a-command-is-in-path-executable-as-process. lemme know if you need help digesting it!

[2018-04-06 18:08] data-pup commented on #51
Hi! Thank you for the link, that definitely helped. I started working on this today, here's the branch with some first steps. I think I will need to add some extra logic for this to work on Windows, which uses `;` to separate items in $PATH iirc.

Should the progress bar still show up if wasm-bindgen is already installed? Right now it just exits the `cargo_install_wasm_bindgen` function if wasm-bi

[2018-04-11 14:11] ashleygwilliams commented on #51
hey @data-pup ! sorry for the delay, i was out sick earlier this week- do you think you could open up a PR? it's much easier to give feedback :D looking forward to reviewing it and thanks so much!

[2018-04-12 19:01] data-pup commented on #51
Hi @ashleygwilliams! Sure thing, I can open a PR today. Thanks for helping me out with contributing, I really appreciate it and am looking forward to helping out more!

[2018-04-13 12:12] ashleygwilliams commented on #51
@data-pup can you run `rustc --version` and `cargo fmt --version` and let me know what the output is?

[2018-04-13 14:16] data-pup commented on #51
@ashleygwilliams Here are the versions. These might be slightly out of date, I can update these and see if that fixes the issue.

[code]

[2018-04-16 03:14] data-pup commented on #72
I can try and add some documentation for this, having just run into this myself. If it is worth anything, getting rustfmt working was not hard, and I didn't find it too bad as a new contributor :)

[2018-04-16 12:47] mgattozzi commented on #72
Awesome! :D

[2018-04-16 13:53] ashleygwilliams opened #83 "add npm login command"
we have pack and publish wrapped up, we might as well wrap login as well

[2018-04-17 13:24] lukehedger opened #85 "Install fails"
Trying to install with:
[code]

Results in:
[code]

[2018-04-17 13:26] ashleygwilliams commented on #85
hi! sorry you are running into this @lukehedger - can you let me know what version of Rust you are on? what OS are you? i should be able to help you through this (i'm on mozilla/rust irc if you wanna talk sync, @ag_dubs)

[2018-04-17 13:38] lukehedger commented on #85
Hey @ashleygwilliams - I've got the following versions:
[code]

On macOS 10.13.2

Thanks for your help 🙂

[2018-04-17 13:43] ashleygwilliams commented on #85
@lukehedger ok! how did you install rust? did you use `rustup`? i'm pretty sure this issue is a result of how you installed rust... the canonical way is this https://www.rust-lang.org/en-US/install.html

i'm pretty sure you are running into an issue where your computer does not have a c compiler installed (this would affect any rust you tried to compile, not just this project!), since you are on m

[2018-04-17 17:08] ashleygwilliams opened #86 "if compilation fails the program should exit"

[2018-04-18 10:04] lukehedger commented on #85
Ah thanks for this @ashleygwilliams - think it was perhaps a combination of `xcode` and my PATH not being setup correctly for `cargo`. Why is it always XCode?

Looking forward to using `wasm-pack` now - super cool project! 😎

[2018-04-18 10:04] #85 closed

[2018-04-18 15:07] ashleygwilliams commented on #29
closed by #88

[2018-04-18 15:07] #29 closed

[2018-04-18 15:53] mgattozzi commented on #63
The tutorial did land and is available [here](https://rust-lang-nursery.github.io/rust-wasm/wasm-pack/introduction.html). This is still open and is not too hard to document. If you're looking for an easy contribution that helps others this is it!

Will provide in depth mentoring instructions upon request. Things that need to be documented:

- [ ] wasm-pack init
- [ ] wasm-pack pack
- [ ] wasm-pack

[2018-04-18 15:56] ashleygwilliams commented on #63
i'd also add the path argument to this list as well!

[2018-04-18 16:40] mgattozzi commented on #63
I updated the list! :D

[2018-04-18 16:56] data-pup commented on #63
I would love to help with this one :) I can start with the init command and move from there.

[2018-04-18 17:08] mgattozzi commented on #63
Awesome @data-pup! Here's what you'll need to do:

- Create a folder called docs
- Create a file called init.md
- In that file type up some instructions on how it works
- You shoul also mention the scope flag and optional path argument for it as well

This should be a good start for this.

I think we can then possibly later include them in the source code for a rustdoc build. Since we're on nightl

[2018-04-18 17:09] data-pup commented on #63
Sounds good! Thank you for the instructions, I will get started on that today. I will follow up if I have any questions 🙂

[2018-04-18 17:30] mgattozzi commented on #50
Some clarifying questions:
- Where do we want to store this log? Linux, Windows, and OSX would likely have different places
- We also want to utilize the verbosity setting as well so we want it to be able to log to the CLI as well yes?

[2018-04-18 17:36] ashleygwilliams commented on #50
re the location, i was thinking we'd copy what npm does which is a `wasmpack-debug.log` in the root of the pkg (in our case the crate, which is default `.` or whatever path is passed)

and yes yes, verbosity settings please

[2018-04-18 17:40] mgattozzi commented on #63
@data-pup Sweet! :D

[2018-04-18 17:44] ashleygwilliams commented on #72
closed by #88

[2018-04-18 17:44] #72 closed

[2018-04-18 18:49] mgattozzi commented on #50
Okay that sounds good to me. We should probably automatically add the log to the .gitignore if it's not already there so it doesn't get comitted.

cool so in terms of verbosity levels something like:

No flag = error, warn, info
-v = error, warn, info, debug
-vv =　error, warn, info, debug, trace

Do we want the log appended too by default or overwrite each time? I would think append with some kind

[2018-04-18 18:50] mgattozzi commented on #71
My bad I meant to go to the milestone not change it!

[2018-04-18 19:05] mgattozzi commented on #86
Compilation of the wasm module or something else?

[2018-04-18 19:08] ashleygwilliams commented on #86
compilation of the wasm module :) i.e. if cargo or wasm-bindgen fail

[2018-04-18 19:13] mgattozzi commented on #86
Okay. I might end up rolling this into #71 at the same time because the easiest way would be to use Failure and do -> Result<T, Error> handling for things in order to exit control flow easily.

[2018-04-18 19:59] mgattozzi opened #89 "Replace quicli with only crates we need"
"I want to use quicli to quickly build CLI apps – And I want to stop there! If you are no longer writing a small CLI tool (I’d say something like 500 lines of code is no longer small), your problems are likely more complicated than what quicli gives you tools for." from [quicli - The ideas behind my small Rust CLI framework](https://deterministic.space/quicli.html)

We're over 500 and I think it g

[2018-04-18 20:25] mgattozzi commented on #89
Let's tag this for a 0.4 release then and get 0.2 and 0.3 out.

[2018-04-18 20:25] ashleygwilliams commented on #86
yeah that makes sense to me

[2018-04-18 21:51] killercup commented on #89
Yes: Use quicli at your own risk from now on. Because you're at 606 LOC, I can no longer provide official support for your quicli usage.

Seriously though, I think you can quite easily eject from quicli. Remove to glob import (manually or using RLS if that works right now), and maybe use cargo-expand to get what the `main!` macros currently generates. The rest (if there is anything) is copypasta o

[2018-04-18 21:56] ashleygwilliams commented on #89
yup. but also: this is not a fire. it's not somehow coded in quicli that it becomes somehow not performant or not stable because we inched above 500 lines. we will of course refactor, but i want to reiterate that it is not urgent and is not currently causing us any issues.

[2018-04-18 21:58] killercup commented on #89
Sure – but do let me know if you really want to get rid of those unnecessary deps and need help.

😄

[2018-04-19 13:53] mgattozzi commented on #63
Hey @data-pup in case it wasn't clear it'll name the package as:
@HELLO/your_rust_package_name

[2018-04-19 14:42] berkus opened #92 "Will it be as awesome as Rusty parcel?"
This is extremely awesome - https://github.com/parcel-bundler/parcel

It's in js/npm ecosystem, so if wasm-pack takes it as an aim to be like rusty parcel I will be extremely happy, so my question - is it realistic that wasm-pack takes parcel as a guiding bar level?

[2018-04-19 14:48] ashleygwilliams commented on #92
hi @berkus !

we are also very impressed with parcel :) fundamentally, the problems that parcel solve vs the problems that wasm-pack will solve are slightly different but also somewhat similar. more specifically: parcel helps manage, bundle, and opitmize your client-side dependencies- wasm-pack, once we start handling dependencies declared in rust-generated wasm custom sections- will do SOME manag

[2018-04-19 14:54] berkus commented on #92
Happy to hear, will contribute by specifying some of my wishes as open issues after I play with wasm-pack a bit.

Thank you for driving this!

[2018-04-19 14:54] #92 closed

[2018-04-19 18:34] mstange opened #94 "Declare a "main file" or index.js in the generated module"
In the wasm-add example, the main JS file in the generated module is `wasm-add/wasm_add.js`. This means that you have to specify the JS filename when importing that module e.g. through webpack.

If the generated JS file were called `index.js` instead, or if its name was declared as the main file using [the `main` property in the module's package.json](https://docs.npmjs.com/files/package.json#main

[2018-04-19 18:38] ashleygwilliams commented on #94
hey! so it would be pretty trivial to declare the file as `main` in the package.json and/or rename it. which do you prefer, i don't have a strong opinion. `index.js` is idiomatic. i'm tempted to do both! let me know what you think @mstange and we can get that done!

[2018-04-19 18:58] mstange commented on #94
Sounds good!

My intuition would be to use `index.js` unless there's a good reason not to. And if you have an `index.js` I don't think you need a `main` in the package.json.

[2018-04-19 19:09] mstange commented on #94
Thanks for fixing it so quickly! Also, wasm-pack is an awesome tool!

[2018-04-19 19:32] mgattozzi commented on #94
Ohhh so that's why the es6 module require wasn't working. Thanks! :D

[2018-04-19 21:33] #94 closed

[2018-04-19 21:47] ashleygwilliams opened #96 "set up release process to include tagged binaries"
https://github.com/japaric/trust/ or https://github.com/alexcrichton/stamp-rs should help us with this

[2018-04-19 22:28] ashleygwilliams opened #98 "0.2.0"
it needs a change log, once #97 lands i'll write one up

[2018-04-20 14:46] djfarly commented on #83
I'd like to try and implement this – if you mind to bare with me, this my first rust project. 🐣

[2018-04-20 14:48] djfarly commented on #83
One question upfront: Since [npm calls this "adduser"](https://docs.npmjs.com/cli/adduser). Should this be the name in code here too?
Of course with alias "login" and "add-user".

[2018-04-20 17:03] mgattozzi commented on #83
You could use one or other in the code but I think going with login might be the best, as adduser is a bit counter intuitive as to what it does.

If you want to take a crack at it here's what needs to get done!

1) Below [here](https://github.com/ashleygwilliams/wasm-pack/blob/master/src/command.rs#L31) you'll need to add a value `Login`. It'll need an attribute  `#[structopt(name = "login")]` abo

[2018-04-20 17:18] djfarly commented on #83
Oops sorry - I haven’t read your comment before eagerly starting to work 🙄
I think I basically did what you’re describing. I can rename the command from adduser to login. But let’s discuss this in the pr maybe? :)

[2018-04-20 18:23] alexcrichton opened #101 "Coordinating with wasm-bingden about versions and list of NPM dependencies"
This is related to https://github.com/rust-lang-nursery/rust-wasm/issues/34 and https://github.com/rust-lang-nursery/rust-wasm/issues/36, but I'd like to propose a strawman idea here.

Right now wasm-bindgen has the ability to say where you're importing functionality from:

[code]

If `module = "..."` is omitted it's assumed to come from the ambient environment (aka the browser). Otherwise `foo` i

[2018-04-21 03:37] thallada opened #102 "don't rename the js file"
Hello! I was following the tutorial for wasm-pack and got to this step: https://rust-lang-nursery.github.io/rust-wasm/wasm-pack/package-code.html

Compiling took a while and then printed this:

[code]

But, if I look at the `./pkg` directory, there's only a `package.json` file:

[code]

Do you know what might have gone wrong?

[code]

[2018-04-21 10:02] Pauan commented on #101
Shouldn't that be the responsibility of `package.json` though?

[2018-04-21 15:39] alexcrichton commented on #101
@Pauan indeed! Although `wasm-pack` is the one generating `package.json`, right? So it just needs to know what to fill in?

[2018-04-21 16:26] Pauan commented on #101
@alexcrichton Please correct me if I'm wrong, but my understanding is that the plan is that Rust crates will include a `package.json` file at the same place where they contain `Cargo.toml`, and `wasm-pack` will then merge all of those `package.json`s together to create the final `package.json`.

So the version information would be in the crate's `package.json` file, not inside of the crate's Rust

[2018-04-21 16:48] alexcrichton commented on #101
Oh I was thinking that intermediate Rust crates would not ship `package.json`, and that would explain the confusion!

Currently wasm-bindgen knows very little about Rust crates and dependencies, it purely takes one wasm file as input. It could be the case that `#[wasm_bindgen]` slurps up a a crate's `package.json` and inserts it into a custom section to later be read by `wasm-bindgen`, but AFAIK `

[2018-04-22 14:56] robertohuertasm commented on #102
Same here, both Linux and Windows.

[2018-04-22 15:46] robertohuertasm commented on #102
I installed  `wasm-bindgen` globally and then it worked. It seems that this step is missing in the tutorial: `cargo install wasm-bindgen-cli`.

[2018-04-22 16:17] robertohuertasm commented on #102
Looking into the code it seems that `wasm-pack` should install `wasm-bindgen` and, indeed, it does because when manually installing `wasm-bindgen` but for some reason there's a mismatch in the versions.

It seems that this is a known issue:

![image](https://user-images.githubusercontent.com/696981/39097169-285ed51a-4659-11e8-82b0-5e2c431e948f.png)

So just follow the previous instructions 😉

[2018-04-22 16:33] robertohuertasm commented on #102
@ashleygwilliams, I'm thinking that maybe it would be nice to add some sort of `verbose` flag to the `init` command so we could get the `stdout` from the `wasm-bindgen` process.  I guess we could add this option [here](https://github.com/ashleygwilliams/wasm-pack/blob/master/src/bindgen.rs#L49) and we could also make this option explicit to the user at the end of any process so she can have a tool

[2018-04-22 16:49] thallada commented on #102
@robertohuertasm thanks for the tip. `cargo install -f wasm-bindgen-cli` fixed it for me.

I did use `wasm-pack`'s `-v` verbose flag, but that didn't print the error. So I think getting that to show the errors from `wasm-bindgen` would be really helpful.

[2018-04-23 14:05] ashleygwilliams commented on #102
hey all! sorry you ran into this trouble. so we have an 0.2.0 coming out, likely today that should fix this issue. we were definitely irresponsibly eating up stderr but that should be fixed! if you'd like to test it out before we release, you can run `cargo install --git https://github.com/ashleygwilliams/wasm-pack.git` to install this tool from master. we additionally plan on having some much nic

[2018-04-23 14:07] ashleygwilliams commented on #101
@Pauan the goal was for wasm-pack to have a version parser and solver :)

@alexcrichton need to read the backscroll a little more closely but i think in general i agree with ur approach

[2018-04-23 14:10] ashleygwilliams commented on #101
ok so, addressing a few of @Pauan's concerns

a `package.json` can contain a single semver expression per package.

this is vaguely true but none of it is enforced by the npm client. this info could be kept anywhere (most people use a `.travis.yml`)

<hr/>

i'm quite strongly against requiring a `package.json` in a Rust crate. it would both not be functional and not aligned with the goals of the p

[2018-04-23 15:49] ashleygwilliams commented on #96
i'm gonna use what alex has for stamp-rs and we can expand from there if necessary

[2018-04-23 18:52] ashleygwilliams commented on #102
oh iiiiiiinteresting. thank you so much for trying this out @robertohuertasm and for providing such a good detailed report. i don't think that the wasm should be referring to the js at all but i'm gonna dive into that now and see what's up!

[2018-04-23 20:31] #102 closed

[2018-04-23 20:44] robertohuertasm commented on #102
@ashleygwilliams you're very welcome! I'm really glad to help. :wink:

[2018-04-23 20:50] ashleygwilliams commented on #102
@robertohuertasm #105 should have fixed the issue for ya! :) hoping to cut a 0.2.0 release today! thanks again for all your help! let me know if you are interested in contributing at any point! we'd love to have you

[2018-04-23 21:08] robertohuertasm commented on #102
@ashleygwilliams, it's awesome hearing about the 0.2.0 release! :grinning:

I've taken a look at #105. I feel a little bit curious about this "circular" reference between the `js` and the `wasm` file. I had the intention to study a little bit the `wasm-bindgen` repo to gain some insight on this matter but maybe you can point me out to the proper resource. :wink:

On the other hand, regarding my in

[2018-04-24 15:35] ashleygwilliams commented on #101
yeah i think leaving resolution of deps to wasm-pack makes the most sense here, tho if we really wanted we could do it in a crate that both tools could leverage if we wanted to

[2018-04-24 20:18] ashleygwilliams opened #107 "typescript support"
take a `--typescript` flag to `wasm-bindgen` and add a `types` key to the `package.json`
http://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

[2018-04-24 21:38] maclockard opened #108 "Description is currently required"
when running `wasm-pack` when there is currently not a description prevents building. Would be nice if description was optional or documented as required:

    λ wasm-pack init
      [1/7] 🎯  Adding WASM target...
      [2/7] 🌀  Compiling to WASM...
      [3/7] 📂  Creating a pkg directory...
    missing field `description` for key `package`

[2018-04-25 03:15] mgattozzi commented on #108
This was fixed in https://github.com/ashleygwilliams/wasm-pack/pull/65 which closed https://github.com/ashleygwilliams/wasm-pack/issues/43. This fix will be part of the upcoming 0.2 release! :D This should be coming out in the next few days. In the mean time you can use the master branch to avoid this issue by doing:

[code]
if you already have it installed you'll also need to add the `--force` fl

[2018-04-25 03:15] #108 closed

[2018-04-25 08:58] robertohuertasm commented on #107
How have you thought to approach this? Trying to automatically generate the typings via some tool like [dts-gen](https://github.com/Microsoft/dts-gen) (which by the way, it doesn't seem to be supporting es6 at the moment)? or maybe you have something else in mind? :wink:

[2018-04-25 14:26] robertohuertasm commented on #107
oh! That's awesome! Indeed @ashleygwilliams message already talked about it. I didn't read it carefully and  read `wasm-pack` instead of `wasm-bindgen` 😱

@mgattozzi many thanks for your clarification! 😃

[2018-04-25 14:30] alexcrichton commented on #101
I've opened a PR for this at wasm-bindgen at https://github.com/rustwasm/wasm-bindgen/pull/161

[2018-04-25 20:40] Pauan commented on #101
Okay, that sounds fine.

Though I wonder if wasm-pack actually needs a version solver. Given these Rust crates...

[code]

[code]

...couldn't wasm-pack combine all the versions together, like this:

[code]

That would leave the version solving up to npm/yarn/whatever.

The biggest downside I can see is that it would result in inferior error messages in the case of conflicts. But it might be good

[2018-04-25 20:45] Pauan commented on #101
One of the downsides of the attribute is that it makes it very unclear what dependencies the package has.

For Rust crates you can simply look at `Cargo.toml` and know instantly all of the dependencies. With the `wasm_bindgen` attribute you have to actually look through all of the source code to find the dependencies.

There is also the possible alternative of specifying the npm dependencies in `C

[2018-04-25 20:54] ashleygwilliams commented on #101
@Pauan i'm confused...

[code]

is not a valid `package.json` so that's def not something we will do

[2018-04-25 21:00] Pauan commented on #101
@ashleygwilliams What do you mean? Node's semver allows a space between versions, which it treats as logical and (i.e. set intersection).

[2018-04-25 22:58] robertohuertasm opened #110 "Apply Markdownlint to .md files"
While reading the `.md` files I noticed they were not following any standard format. I know it's a minor issue but maybe we could consider using [Markdownlint](https://github.com/markdownlint/markdownlint) in order to format this kind of files.

[2018-04-26 00:26] ashleygwilliams commented on #101
huh @Pauan i guess that is technically true! tho it's a dangerous move because i don't actually know what npm does if the intersection represents a set with no members... i think fundamentally this is something we'd probably want to sort at the wasm-pack level, mostly because i don't want to allow the publish of a package that is not installable

[edit, i was curious so i checked] npm does this:
[

[2018-04-26 03:08] JinwookKim opened #112 "Wasm-pack doesn't generate all files"
I was following [the tutorial](https://rust-lang-nursery.github.io/rust-wasm/wasm-pack/introduction.html) and it mentions at the end that it will generate the a wasm file and a JS wrapper file. I have tried this on Mac and on Windows and it has not generated those files in either case. It compiled the code but it did not copy anything over to the `pkg` directory, except for the `package.json` and

[2018-04-26 14:18] gabrielcarneiro97 opened #113 "Module not found: Error: Can't resolve"
I'm testing the wasm-pack with a project that I'm doing of implement Conway's in WASM. Everything went well when I was packing the Rust with wasm-pack, after packing I published it on npm (it can be found [here](https://www.npmjs.com/package/conways_game_of_life)), but when I tried to use the pack in my js project this error has been thrown:

[code]

index.js:
[code]

The RUST code is [here](https

[2018-04-26 15:00] gabrielcarneiro97 commented on #113
I soved it, the wasm-pack doesn't create the index.js file, so i need to require an expecific file, the correct import is `const wasm =  import('conways_game_of_life/conways_game_of_life')`

[2018-04-26 15:00] #113 closed

[2018-04-26 19:15] mgattozzi commented on #113
Yeah this was resolved by #94 and should be in the next release :)

[2018-04-26 22:07] JinwookKim commented on #112
@mgattozzi !!! It worked! The `cargo install -f wasm-bindgen-cli` fixed it for me!
I'm sorry about the dupe issue. I tried looking over all the issues to make sure it wasn't a dupe, but it seemed like I missed the 102 issue.

Thank you so much for your help!

[2018-04-26 22:07] #112 closed

[2018-04-27 02:09] ashleygwilliams opened #114 "should we generate typscript type files by default?"
a question came up in solving issue #107 on PR #109: should we generate typescript type files by default?

i have requested that the PR land behind a flag but i'm curious to hear the arguments for why it should be default! this is the issue for that convo :)

[2018-04-27 02:23] ashleygwilliams opened #115 "should we -f wasm-bindgen install?"
pros:
- will fix most bug reports we've received thus far on this (the bug is that wasm-bindgen is a later version)

cons:
- will install wasm-bindgen even if it's already installed, so it will take longer

my desired behavior here would be similar to using the npm install <pkg>@latest tag, which checks if the current installed version is the same as the version tag latest, if not installs, if so

[2018-04-27 02:28] #98 closed

[2018-04-27 02:31] mgattozzi commented on #115
I wanted to see if there was a way to see if we can see a discrepency in versions somehow there is:

[code]

Now the solution to "Should we add -f" will be to parse this output and compare semver, possibly with a crate of some sort. Not gonna lie this is ugly and something we'll need to invoke on every call but it's better than nothing. If we go forward with this we should tell the user they'll al

[2018-04-27 02:37] alexcrichton commented on #115
FWIW I definitely feel like Cargo should have a feature for this. In the meantime I'd recommend keeping up to date with the latest wasm-bindgen version if possible, even just tonight the latest Rust nightly broke wasm-bindgen and I had to publish a fix.

Hopefully soon everything will be stable and breakage will be a thing of the past!

[2018-04-27 02:47] mgattozzi commented on #115
@alexcrichton Ashley and I were talking, probably going to write up an RFC for this so you can do something like `cargo install wasm-bindgen-cli@latest` or something like that. In the meantime I'm going to start a cargo subcommand proof of concept that works with crates.io api to make it nicer

[2018-04-27 02:48] alexcrichton commented on #115
Sounds great!

[2018-04-27 02:48] mgattozzi commented on #112
Hey @JinwookKim I appreciate that you did look for it at least! You're not the first one and we're discussing in #115 how to fix this up. Glad it worked out!

[2018-04-27 02:56] kwonoj commented on #114
As shared in https://github.com/ashleygwilliams/wasm-pack/pull/109#issuecomment-384464904 I vote for generate by default, opt out via cmd args when invoke wasm-pack. Lot of tool understands type definition and provides additional info in js code even, so it benefit js/ts users both.

[2018-04-27 02:59] Pauan commented on #115
A dedicated command would be nice, but wouldn't `cargo install wasm-bindgen && cargo update --package wasm-bindgen` be good enough?

[2018-04-27 03:04] Pauan commented on #114
I vote for yes as well: there is no downside to generating `.d.ts`

[2018-04-27 03:13] mgattozzi commented on #115
'''
michael@eva-01 ~ % cargo update --package wasm-pack-cli
error: could not find `Cargo.toml` in `/home/michael` or any parent directory
[code]

[2018-04-27 03:13] ashleygwilliams commented on #110
hey! i like the idea of running a link but i'm curious if we can automate it to make sure it's run on CI so we can enforce it! it looks like it's written in ruby so i'm a little nervous about requiring a ruby dep for contributors- is there something similar in the rust ecosystem that we could use?

[2018-04-27 03:30] steveklabnik commented on #115
FWIW I have always found `@latest` to be *massively* confusing, but also very much agree that something should be done here.

[2018-04-27 03:51] kwonoj commented on #114
for pkg size -
1. Installation size (under `node_modules`) will be increased, yes, but mostly really small size. due to nature of type definition, say i.e you have javascript fn
[code]

it'd corresponding type definition simply becomes single-line
[code]

Course if it have some interfaces, or enums / dependent types it'll be increased more, but it's plain text files notably small size.

This is on

[2018-04-27 03:53] kwonoj commented on #114
For npm pkgs deal with types - if module author intends to support types by default, it is common to ship type definition along with packages. Most cases it depends on author's preferences, between either 1. would like to support types (either flow, or ts) 2. or doesn't have preferences for it and let 3rd party deals with it. Size usually isn't concern compare to actual codebase size which is real

[2018-04-27 03:56] ashleygwilliams commented on #114
@kwonoj the point about bundlers is a good one. ok. i'm coming around to this. perhaps we *can* land #109 without a flag... curious about what @yoshuawuyts @jamiebuilds might think

[2018-04-27 04:26] Pauan commented on #114
The [official TypeScript recommendation](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) is to publish `.d.ts` along with `.js` inside of your npm package (assuming your package was designed for TypeScript in the first place).

The other alternative is the `@types` organization, which is intended more for publishing `.d.ts` for third-party packages which are pure-JS

[2018-04-27 08:34] robertohuertasm commented on #110
You're right. I already thought about inforcing this tool and was not comfortable with the idea of making contributors to install some external dependency. For the record, I'm using a plugin in VSCode that lints the files as you write/read them, but I think that's not a valid solution neither.

I'll give it a try and look for a crate that maybe can help us with this.

Regarding the PR, feel free t

[2018-04-27 08:40] robertohuertasm commented on #114
FWIW, I totally subscribe @kwonoj 's point of view. I can only see benefits for the consumers of the future packages (no matter they use js or ts).

In my opinion, as an author you should try to provide the widest support possible, and as a heavy TypeScript user, I really, really appreciate when packages are delivered with a synchronized `d.ts` file.

As @Pauan already said, it's a hard and painfu

[2018-04-27 13:47] ashleygwilliams commented on #114
ok so, having slept on this here's the deciding question i think:

is there any case in which a crate written in rust and then compiled with wasm-bindgen would NOT benefit from a types file?

@Pauan wrote "assuming your package was designed for TypeScript in the first place" <-- most people don't design a package for type script, tho writing a package with Rust and compiling to wasm might take the

[2018-04-27 13:56] kwonoj commented on #114
The only case I can currently think of is if types generated from bindgen does not corretly match to signature of original rust fn for some reason, gives incorrect signature to consumers.

[2018-04-27 14:10] data-pup commented on #50
I’d love to help out with this one 🙂 I can start looking into it this weekend!

[2018-04-27 14:11] alexcrichton commented on #114
@ashleygwilliams some good points! I think it's actually a historical accident that `wasm-bindgen` doesn't emit *.d.ts files by default. Originally it *only* emitted typescript and then got an option to emit JS instead. Later I realied that *.d.ts existed and wanted to switch to JS by default so I swapped the two. I don't think I ever stopped to realize that *.d.ts is harmless and would be good to

[2018-04-27 14:17] alexcrichton commented on #114
I've opened https://github.com/rustwasm/wasm-bindgen/pull/173 to change wasm-bindgen's default, which can probably land in tandem with the corresponding wasm-pack PR

[2018-04-27 20:52] bringking commented on #25
@ashleygwilliams is this something that is ready for work? I would love to try and tackle this

[2018-04-27 22:07] jamiebuilds commented on #114
Could we make it generate both TypeScript and Flow definition files? They are very similar definition formats and it would work basically the same way with a `.js.flow` file next to the `.js` file

[2018-04-28 00:00] mgattozzi commented on #114
@jamiebuilds this would require wasm-bindgen to support them first at least. Otherwise wasm-pack can't even generate them! I think that's up to @alexcrichton and whether he wants wasm-pack to handle that

[2018-04-28 02:48] alexcrichton commented on #114
@jamiebuilds sounds plausible to me! Want to open an issue at wasm-bindgen?

[2018-04-28 11:01] konstin commented on #114
What about using something like [flowgen](https://github.com/joarwilk/flowgen)? The actual conversion could be done in wasm-pack, while the CI in wasm-bindgen checks that the emitted typescript is understood by flowgen.

[2018-04-28 14:50] steveklabnik commented on #115
Could wasm-bindgen export a library and then wasm-pack could use that instead? Then it’d be easier to lock, and no install needed.

[2018-04-28 15:55] alexcrichton commented on #115
FWIW there's a [`wasm-bindgen-cli-support`](https://crates.io/crates/wasm-bindgen-cli-support) crate on crates.io which is the library that `wasm-bindgen`-the-CLI uses. That being said I'm not currently maintaining it for semver compatibility, so I wouldn't recommend using it right now. If that's the chosen option to go here, though, I'd be more than willing to put some effort into cleaning it up

[2018-04-28 18:28] mgattozzi opened #117 "Not all commands called print to stderr on failure"
While working on testing #109 I realized that the error output from calling wasm-bindgen wasn't showing up. Turns out it printed a message to stdout not stderr. We should probably make commands dump out stdout and stderr on failure.

Or would we rather stdout dump out as the program is executing and then show stderr at the end as we already are?

[2018-04-28 21:38] Pauan commented on #114
@sendilkumarn There's only two major JS type systems: TypeScript and Flow. [And TypeScript is *by far* the most common](https://trends.google.com/trends/explore?date=all&q=typescript,flow%20js), it is the de-facto standard.

And if the cost of maintaining flow types is simply running flowgen, that doesn't sound like a big maintenance burden.

Also, if we provide the feature *at all* (even behind a

[2018-04-28 23:29] sendilkumarn commented on #114
Yeah absolutely agree to this. But for the flag I (personally) feel it is okay to be opinionated and support them and choose not to support others.

AFAICT when your library grows and even as a library author you might need type system.

Exactly that is what is running on my mind.

But I think it is a thin line here. There is no second thought about the values that type system provides, (in fact I

[2018-04-28 23:38] Pauan commented on #114
The library author is writing their code in Rust, which is already fully statically typed. What we are talking about is a system which takes your Rust types and *automatically* translates them into TypeScript types, so that people using your Rust crate as a library will benefit. The types will always be in sync with the Rust types.

[2018-04-28 23:44] yoshuawuyts commented on #114
Chiming in a day late here, but yeah all in favor of adding TS type files out of the box. Not seeing any downsides and tons (!) of upsides!

[2018-04-28 23:45] ashleygwilliams commented on #114
hey ya'll! it's decided :) we're gonna add TS type files out of the box and we'll see how to do it for flow as well. thanks!

[2018-04-29 02:33] mgattozzi commented on #114
We should consider this issue closed then. Unless you want to wait for #109 to land

[2018-04-29 02:38] ashleygwilliams commented on #114
yeah i'm waiting for #109 to land.

[2018-04-30 14:29] alexcrichton commented on #101
Pedagogically I don't have too much of an opinion either way on where this info lives. Technically I'd prefer the attribute because it means I don't have to pull a TOML parser into wasm-bindgen.

[2018-04-30 14:44] sendilkumarn commented on #101
Ergonomically 😜

[2018-04-30 15:07] ashleygwilliams commented on #101
@alexcrichton let's stick with what we have for now... if it turns out that people want something else, we can build it later, based on people's actual experience, and not just guessing ;)

[2018-04-30 18:03] gabrielcarneiro97 opened #119 "wasm-bindgen error has not being thrown properly"
I've updated my wasm-bindgen-cli today and when I tried to use `wasm-pack init` it failed:

[code]
As you can see, the details of the wasm-bindgen error aren't being printed, so to discover what was happening I've to compile wasm-bindgen stand-alone. The solution that the wasm-bindgen offered worked, that was:

[code]

I was wondering if this info should not appears at wasm-pack error details.

[2018-04-30 23:09] mgattozzi commented on #119
Hey @gabrielcarneiro97 this is a dupe of #117 actually! It should be printed out as an error but our assumption was that we only need to pull from stderr not just stdout. Would love to hear more of your thoughts and what you expect over in that issue!

[2018-04-30 23:09] #119 closed

[2018-05-01 00:17] mgattozzi commented on #117
This was a regression on wasm-bindgen's part and should be fixed when this commit gets released. Keeping this issue open for now until that is fixed
https://github.com/rustwasm/wasm-bindgen/commit/6f95e5c531ebaf0d1d692efa67f152381f686ca8

[2018-05-01 02:37] mgattozzi commented on #117
Excellent thanks @alexcrichton!

[2018-05-01 02:37] #117 closed

[2018-05-01 06:13] Pauan commented on #101
I strongly disagree with this. A lot of people are already using wasm-bindgen and wasm-pack, and so it will quickly become a de-facto standard, which will be very hard to change later.

If we're going to experiment with different things, we should do so *now*. As I said, there are benefits to using `Cargo.toml`, so we shouldn't just dismiss it as a possibility.

[2018-05-01 12:46] mgattozzi commented on #101
Modifying a config file for a different tool other than what that file is for does not sit well with me. Cargo.toml is used to modify how cargo works, not wasm-pack/wasm-bindgen. If you want to do build config things I highly recommend it either be in it's own config file or build.rs as is current convention for Rust projects.

[2018-05-02 19:35] #12 closed

[2018-05-02 19:36] ashleygwilliams commented on #25
@bringking i believe after several refactors we should be able to tackle this- that being said @data-pup had originally tried to tackle this, so i'd like to give them right of first refusal before someone else takes it on- what do you think @data-pup ?

[2018-05-02 19:37] data-pup commented on #25
Hey! I would love to take another swing at this :)

[2018-05-02 20:17] data-pup commented on #115
This issue was brought up in #81, so I figured I'd pop in to say if there's anything that I can do to help with the cleaning up the `wasm-bindgen-cli-support` crate, let me know! I'd love to help out :)

[2018-05-02 20:18] mgattozzi commented on #101
@Pauan Oh I didn't even know about the metadata field! Thanks for letting me know about that :D

[2018-05-02 20:45] mgattozzi commented on #115
So I was discussing this with @ashleygwilliams and it looks like the `cargo-update` tool has it's internal library [available](https://docs.rs/cargo-update/1.5.1/cargo_update/) and the binaries for cargo-update use that. Essentially we just need to use that to check local versions compare it with the one on crates.io and go from there. I'll get started on this, but it'll let us avoid force install

[2018-05-03 04:05] Pauan commented on #101
That sounds great! As a general principle, I think we *should* have RFCs for these sorts of issues that have long-term consequences for the entire community and ecosystem.

In addition to discussing the system for specifying dependencies, maybe the RFC should also discuss about whether the versions should be semver-by-default or not?

[2018-05-07 17:47] bringking commented on #25
@ashleygwilliams okay cool, works for me 😃

[2018-05-07 18:54] mgattozzi commented on #25
@bringking There are definitely other issues open to work on! If you see one that catches your interest say you are and we can write out instructions on whatever needs to be done to get it working if you need them :D

[2018-05-09 01:56] mgattozzi commented on #63
@data-pup made some great first steps. I think we could expand this out with gifs and things showing how to use it. Some people are more visual than text. Video tutorials might also be fun.

[2018-05-09 02:19] mgattozzi opened #123 "Context Type for wasm-pack"
@data-pup came up with an interesting PoC in https://github.com/ashleygwilliams/wasm-pack/pull/122. I definitely think we should consider it as a possibility going forward, but I felt the change was a bit large and drastic to do all at once and wanted to defer it to a discussion first.

We essentially would thread a Context type to determine decisions for the program. This isn't unprecedented. For

[2018-05-09 14:09] data-pup commented on #63
Yeah! I was thinking about that too. I really like the gif in the readme, what was used to make that? Adding a gif demonstrating each command wouldn't be too hard :)

[2018-05-09 19:26] mgattozzi commented on #63
@ashleygwilliams came up with it so she can probably explain what that process was

[2018-05-10 15:47] data-pup commented on #25
@mgattozzi I tried to add a static `CARGO_TOML` variable using the `env::args` method we discussed, but it ended up causing tests to fail. The initial changes I made are [here](https://github.com/ashleygwilliams/wasm-pack/compare/master...data-pup:static-cargo-toml). I can open a PR for that branch if you'd like, but this issue might be worth leaving alone for the time being?

`CargoManifest.into_

[2018-05-11 00:49] mgattozzi commented on #25
Hmmm so cloning is basically happening which is essentially reading it twice.

Since we're just serializing data which only requires a reference we could get npm to just hold &str instead of String. Rather than it taking ownership it borrows so this should work!

Also in the case of it not failing when initializing, have it be a Result and just use ? in both places it's called!

[2018-05-11 01:02] data-pup commented on #25
Ah neat! That makes sense, I’ll try that out tonight 🙂

[2018-05-11 13:00] data-pup commented on #25
Turning the static variable into a `Result<CargoManifest, Error>` object did not seem to work for me. I ended up running into errors like this:

[code]

I found some advice online elsewhere saying something like `&*CARGO_TOML` would be a way around this, but that did not seem to help either. The closest I could get to fixing that was using `.as_ref()`, but that meant the try operator wasn't workin

[2018-05-14 13:06] mgattozzi commented on #25
Ah okay. I had a very busy weekend so I'm just getting around to this. Do you have the code up somewhere? I can take a look and see if there's a way around the weirdness. There's a lot of things lazy_static does to do what it does and occasionally you run into problems like this.

[2018-05-14 15:25] data-pup commented on #25
No worries! I have a branch on my fork of this repo with my work on this [here](https://github.com/data-pup/wasm-pack/tree/static-cargo-toml?files=1).

I was noticing that about lazy_static, it’s actually a really neat macro! Troubles aside, glad I’ve been able to learn more about it bc of this 🙂

[2018-05-15 13:59] mgattozzi commented on #25
@data-pup it's a real neat macro and one of my favorites. I'll take a look at this tonight.

[2018-05-16 13:13] chriskrycho commented on #114
One note to a comment made [up-thread](https://github.com/ashleygwilliams/wasm-pack/issues/114#issuecomment-385034871)—simply informational, since shipping types is already a thing that's happening:

This is true in a *very* strict sense, if you're using something like `ed` as your editor. Increasingly, however, many editors and IDEs will actually use TS definitions to make the _JS_ experience bet

[2018-05-16 13:54] mgattozzi commented on #114
@chriskrycho oh that's real neat! :D

[2018-05-16 15:00] ashleygwilliams commented on #114
solved by #109

[2018-05-16 15:00] #114 closed

[2018-05-16 15:00] ashleygwilliams commented on #107
solved by #109

[2018-05-16 15:00] #107 closed

[2018-05-16 15:01] ashleygwilliams commented on #110
closing for the time being. would love a rust solution for this!

[2018-05-16 15:01] #110 closed

[2018-05-16 15:02] ashleygwilliams commented on #63
@data-pup i used https://asciinema.org/ and then https://github.com/asciinema/asciicast2gif -- it is a SLOW process, and a little buggy, but a lot of fun- would love to see some more gifs!

[2018-05-16 15:03] ashleygwilliams opened #124 "0.3.0 changelog"
let's get it out!

[2018-05-19 10:52] djfarly commented on #75
See #125

[2018-05-25 15:19] clanehin opened #126 "Support building debug versions of packages."
I had a personal need to generate a debug version of a package in my project and quickly implemented a --debug flag. It may require some bikesheddish discussion:

(1) --debug is the opposite of the flag used by cargo (--release). Usage is more obvious if the wasm-pack flag is identical to the already-familiary cargo flag, however switching to --release also changes the default behavior of wasm-pac

[2018-05-27 08:16] mgattozzi opened #129 "CI Broken Due to Upstream Changes in Rustfmt"
In #127 the CI broke due to a change with the flag names.

This is likely due to this commit
https://github.com/rust-lang-nursery/rustfmt/commit/95d6b648293b417309d0857b2a93c0cace70c53d

[2018-05-27 16:34] mgattozzi commented on #129
Closed in #128

[2018-05-27 16:34] #129 closed

[2018-05-29 08:30] #89 closed

[2018-05-29 08:31] ashleygwilliams commented on #126
hi @clanehin - thanks for filing this! i'm not opposed to a feature like this- though i am curious to learn more about the use case you had to generate a debug version of a package- would you mind sharing?

[2018-05-29 09:31] #75 closed

[2018-05-29 10:17] #115 closed

[2018-05-29 15:49] #50 closed

[2018-05-31 09:04] ashleygwilliams commented on #126
@clanehin thanks so much for sharing! i think i realy dig this and am gonna try to sneak it into today's release... :D

[2018-05-31 13:38] #124 closed

[2018-06-01 06:46] jbolila opened #136 "regression: wasm-pack init requires you pass a directory"
[code]

I'm getting this error (with the release musl 0.3.0 or building it locally), on Debian.

`cargo test` passes all the tests locally.

[2018-06-01 08:34] mgattozzi commented on #136
How are you trying to use this? `wasm-pack init` already expects you to have a rust project. What's likely happening is that it's checking the current directory for the `Cargo.toml` but can't find it.

[2018-06-01 09:39] jbolila commented on #136
@mgattozzi thank you for your reply. It has a simple Cargo.toml with lib and dependencies as described in the readme file.

Would this  be enough to get it working?

[code]

[2018-06-01 11:16] ashleygwilliams commented on #136
welp! can confirm that this is true. i think this may be a bug and i'll be working on a fix now!

[2018-06-01 11:16] ashleygwilliams commented on #136
workaround - run `wasm-pack init .` (can confirm this works, but this should not have to be what happened)

[2018-06-03 13:50] danreeves opened #137 "TypeScript definition file not published"
The TypeScript definition file is missing from the `files` whitelist and so isn't published to npm. e.g. https://unpkg.com/hello-wasm-jsconfeu@0.1.0/

[2018-06-03 15:01] ashleygwilliams commented on #137
zomg! thank you for catching this!!

[2018-06-03 15:02] #137 closed

[2018-06-05 09:02] ashleygwilliams opened #140 "detect if cargo toml has cdylib"
this issue is reserved for someone who has not yet contributed to wasm-pack

<hr/>

in order to compile to wasm32-unknown-unknown, the user must put the following in their `Cargo.toml`:

[code]

we have the ability to check this before we try to compile- to save the user some time and help remind them to do it!

we'll probably want to work on this in the `manifest.rs` file, and it might be similar

[2018-06-05 09:04] ashleygwilliams opened #141 "detect if cargo toml has wasm-bindgen dep"
this issue is reserved for someone who has not yet contributed to wasm-pack

<hr/>

in order to compile to wasm32-unknown-unknown, the user must put the following in their `Cargo.toml`:

[code]

we have the ability to check this before we try to compile- to save the user some time and help remind them to do it!

we'll probably want to work on this in the `manifest.rs` file, and it might be similar

[2018-06-05 09:04] ashleygwilliams commented on #18
after a regression in 0.3.0 this is top priority now

[2018-06-05 09:17] #136 closed

[2018-06-05 09:17] ashleygwilliams opened #142 "0.3.1 changelog"

[2018-06-05 09:34] robertohuertasm commented on #141
I'd love to tackle this if it's ok for you!

[2018-06-05 09:38] ashleygwilliams commented on #141
@robertohuertasm you got it! let me know if you want any help!

[2018-06-05 10:14] #142 closed

[2018-06-05 10:26] ashleygwilliams opened #144 "--skip-build flag"
while teaching wasm-pack, i discovered that sometimes we want to run wasm-pack init again (updated readme or cargo.toml) but don't want to rebuild the whole pkg

let's add a `--skip-build` flag that will skip:

- adding target
- compiling to wasm
- installing wasm-bindgen
- running wasm-bindgen

it should warn if the wasm file does not exist in target (was not yet compiled) or if the bg.wasm or js

[2018-06-05 10:31] ashleygwilliams opened #145 "spinner no longer working"
the spinner used to spin- it seems to not now. this isn't a huge problem, but it'd be nice to fix by the next release!

[2018-06-05 10:35] ashleygwilliams opened #146 "coordinating wasm-bindgen versions"
currently we are force installing wasm-bindgen, but this is frustrating because it takes a long time and often doesn't need to happen. i'd love a solution for this. let's use this issue to brainstorm. (related to #51  )

strawman proposal:

- read cargo.toml to find wasm-bindgen lib version
- check currently install wasm-bindgen version
   - if not installed, install version listed in cargo.toml

[2018-06-05 10:56] kedromelon commented on #140
i'd love to take a crack at this! this is exactly the step that tripped me up trying out wasm-pack at first 😅

[2018-06-05 11:06] ashleygwilliams commented on #140
sounds great! let me know if you need any help @kedromelon

[2018-06-05 11:11] ashleygwilliams opened #147 "debug build windows appveyor releases"
we currently make release binaries for linux and mac using travis. we should also do this for windows with appveyor!

[2018-06-05 12:13] ashleygwilliams opened #148 "add category wasm to cargo.toml"
this issue is reserved for someone who has not yet contributed to wasm-pack

<hr/>

this is a wasm tool- so we should be discoverable as such. add a category to cargo.toml to declare this (for an example see https://github.com/rustwasm/wasm-bindgen/blob/master/Cargo.toml#L7)

[2018-06-05 12:28] ashleygwilliams commented on #123
in general i think this pattern is a good one that we should aim for. need to think more on how we can do it iteratively tho... 🤔 does anyone else have any thoughts?  i definitely would want to do this only after #18 because at the moment i dont super trust our tests :(

[2018-06-05 12:51] #148 closed

[2018-06-05 13:49] mgattozzi commented on #63
Yeah I'd say we could close this for now and I can open up more specific ones, like expanded tutorials, gifs etc. at a later date.

[2018-06-05 13:51] mgattozzi commented on #123
What do you mean by iteratively? I have some thoughts on how to do this but I'm not sure what you mean here

[2018-06-05 13:53] data-pup commented on #63
Bandwidth is slightly thin for me at the moment, (focused on some `twiggy` stuff atm) but I would definitely be open to coming back to these in the near future. I think @mgattozzi is right, we could open issues for specific usage documentation tasks later on.

[2018-06-05 13:55] mgattozzi commented on #146
One issue I forsee is if the project uses 0.2.3 but the current one is 0.2.8 for instance. What if they want to specifically use 0.2.3? Where should we install it? One approach I like from `stack` a Haskell package manager is that it sandboxes build tools and the compiler used for the project.

Would it be possible to compile a version of `wasm-bindgen-cli` in say the target directory and use the

[2018-06-05 13:57] mgattozzi commented on #145
I feel like this might have been introduced with the PBAR module stuff I did. Possibly related to how the multibar works. Would need to look into it. Might also just need a package update, but I haven't looked into the underlying reason why yet.

[2018-06-05 13:59] mgattozzi commented on #144
One important thing to note is that the order of what happens has a specific number of steps hardcoded in the output. We'll need to add checks to choose the right amount if this flag is added. i.e. instead of say step [3/7] with this flag we might just need to do [2/3]

[2018-06-05 14:09] data-pup commented on #123
It's been a little while since I did this, but I remember the `init` command being the one that caused the most trouble. We could start by refactoring the `pack` and `publish` commands first, before thinking more about the `init` command.

Also agree with you that this should come after #18

[2018-06-05 19:01] mgattozzi commented on #63
Since all the original stuff mentioned was covered I'm going to close this then and open specific issues later.

[2018-06-05 19:01] #63 closed

[2018-06-05 19:16] ashleygwilliams commented on #144
@mgattozzi good call. i mean, this is probably a good reason to stop hardcoding that stuff in the first place. the more steps and flags we add the more likely we'll want to have a dynamic way to set up a list of steps we want and then count them from there.

[2018-06-05 19:36] ashleygwilliams commented on #146
oh i like this idea. npm does the same thing with dev dependencies. perhaps we should take that tack and read it from devdependencies?

[2018-06-05 19:38] mgattozzi commented on #146
Isn't wasm-bindgen-cli a binary not a lib? Can we even specify it in dev-dependencies?

[2018-06-06 00:05] robertohuertasm commented on #141
Do I have to check the version? If that's the case, must "0.2" be the minimum version or it has to be fixed?

[2018-06-06 08:30] ashleygwilliams opened #152 "consider checking + warning for Cargo.toml elements"
the rustwasm template has several useful elements that we might warn folks on if they are missing as a way to teach them to use them: https://github.com/rustwasm/rust_wasm_template/blob/master/Cargo.toml

thoughts?

[2018-06-06 08:34] ashleygwilliams opened #153 "create flags for the rustwasm working group's three "build modes""
the rust wasm working group is consider 3 modes of building a wasm project as seen here: https://github.com/rustwasm/rust_wasm_template/issues/6

this seems highly related to #127

are we interested in making a flag for each of these? i think it seems like a reasonable idea. would love to hear all ya'lls thoughts!

[2018-06-06 08:56] ashleygwilliams opened #154 "re work readme"
our readme right now is a little confusing- it's got information for both contributors and end users and is generally a bit too much of a grab bag to be useful. i'd like to rework much of the content into the `/docs` director and use the `README` as a table of contents of sorts- i'll likely make a PR to kick this off today but am still super open to everyone's thoughts!

[2018-06-06 11:01] ashleygwilliams commented on #141
@robertohuertasm i think for the moment we should just check that the dependency is present. the version portion is a bit more complicated and something we'll deal with when we resolve #146

[2018-06-06 13:44] mgattozzi commented on #152
LTO makes sesnse, but maybe with wasm people want to optimize for speed rather than size. I think this kind of plays into how we want to configure wasm-pack, because I know certain lints will want to be turned on or off by people, but this is a good idea.

[2018-06-06 14:17] Pauan commented on #152
@mgattozzi Doesn't LTO *also* improve speed as well? Since it allows for cross-compilation optimizations.

As far as I know, the only downside to LTO is increased compile times.

[2018-06-06 14:45] mgattozzi commented on #152
Yes it does! What wasn't clear in my wording is that you can tell how you want the compiler to optimize with the [opt-level](https://github.com/rustwasm/rust_wasm_template/blob/master/Cargo.toml#L46) flag!

[2018-06-06 15:53] huangjj27 commented on #147
I have the experience of [setting up AppVeyor for libui-rs](https://github.com/LeoTindall/libui-rs/pull/18) and I'm glad to do the job at this weekend, if you're ok.

[2018-06-06 16:59] clanehin commented on #153
I can follow up along these lines.

[2018-06-06 19:05] mgattozzi commented on #147
That would be super super helpful! :D If you want to take a crack at that please do :)

[2018-06-06 21:09] ashleygwilliams commented on #147
thanks so much for volunteering @huangjj27 !

[2018-06-06 21:11] ashleygwilliams commented on #153
awesome @clanehin - i want to loop @fitzgen in here as well, he has some good perspective about some of the configuration that may also need to happen here, primarily with `wasm-snip` :)

[2018-06-06 23:33] mbalex99 opened #157 "Possible to publish both CommonJS and ES6 modules in same package?"
It looks like wasm_pack is sort of one or the other when it comes to publishing something for webpack browser consumption and one for nodejs.

Is it possible that wasm_pack can publish a package for both at the same time?

Ideally something like this:

__Node__
[code]

__Browser in Webpack__
[code]

[2018-06-06 23:37] ashleygwilliams commented on #157
hey @mbalex99 this is a great question! currently, `wasm-pack` can't do this, but i don't see why not! i can imagine a few ways to do this, so i'm gonna wait to hear other folks weigh in, but i think this could be a really neat feature! thanks for filing 🎉

[2018-06-07 01:04] fitzgen opened #158 "Add support for running wasm-snip"
See also https://github.com/xtuc/rust-plugin/issues/1 and #153

Basically there are four main options:

* Should we snip the `std::panicking` code? yes/no

* Should we snip the `std::fmt` code? yes/no

* Here are some specific functions to snip. (list of zero or more strings)

* Here are some regex patterns of functions to snip. (list of zero or more strings)

[2018-06-07 01:04] fitzgen commented on #153
Pulled the wasm-snip bits out into https://github.com/ashleygwilliams/wasm-pack/issues/158 to let this issue remain about different build/optimization profiles.

[2018-06-07 01:08] fitzgen opened #159 "Add support for running wasm-opt"
And configuring:

* (most importantly) its optimization level (ie `-Os` vs `-Oz` vs `-O3` etc)
* what passes are enabled or disabled
* maybe also installing it if necessary?

https://github.com/WebAssembly/binaryen

[2018-06-07 01:10] fitzgen opened #160 "Add some kind of toml configuration"
As we add more options and flags (#159 #158 #153 etc) it would be great if we didn't have to keep passing the same command line arguments for every build all the time, and instead could canonicalize configurations in a toml file.

[2018-06-07 02:43] clanehin commented on #144
First apologies. Just noticed this issue. I'm aware there's already a pull request. This flag simultaneously does something I really want and also qualities that make it less useful.

Parts of this flag that I really like: "Adding the target" and "installing wasm-bindgen" affect the user's global environment. That always has a lot of potential to cause surprise or breakage. Especially if I give an

[2018-06-07 08:01] huangjj27 commented on #147
Before I start the job, I want to make it clear which channel and target should I test, Could you give me some advice?

[2018-06-07 08:44] ashleygwilliams commented on #147
@huangjj27 at the very least, i would like to have parity with wasm-bindgen, which does this https://github.com/rustwasm/wasm-bindgen/blob/master/.appveyor.yml#L7, targeting `x86_64-pc-windows-msvc` on `nightly`. (your intuitions were totally correct!)

that being said- if there are other targets you think we should use appveyor for as well, we're very open to hearing more! feel free to broaden th

[2018-06-07 08:45] Pauan commented on #157
This syntax is wrong:

[code]

It should be like this:

[code]

I'm not sure if it makes sense to publish CommonJS packages: if Node supports importing to/from wasm, then it should also support ES6 modules.

[2018-06-07 08:48] ashleygwilliams commented on #159
i think that we should fundamentally expose this through #153 - in line with our desire to have a more convention over configuration tool to expose pre-configured "build" options to the user. do those three build modes cover the behavior we'd want to see @fitzgen or is there more we would want to expose? i'm very cautious about overwhelming the use with options and configuration (tho #160 will cer

[2018-06-07 10:30] huangjj27 commented on #147
I found that you already have a [`.appveyor.yml`](https://github.com/ashleygwilliams/wasm-pack/blob/master/.appveyor.yml) file, Can't that  be used for build? If it can, what I need to do is just to rename it to `appveyor.yml`

[2018-06-07 11:58] ashleygwilliams commented on #147
hi @huangjj27 i'm not sure we need to rename it in order for it to build releases for us... it works fine in `wasm-bindgen` as `.appveyor.yml`. is there a reason you think it needs to be renamed?

[2018-06-07 11:59] ashleygwilliams commented on #157
hey @Pauan - let's try to be a little more positive and constructive in our comments! yours was a bit blunt and critical (perhaps not your intention!) in a way that i don't think was necessary and doesn't fit the tone i'd like to set for this project. i'd love if you'd edit your comment to be friendlier. simply because we believe something "should" be the case doesn't always mean that it is the ca

[2018-06-07 13:21] huangjj27 commented on #147
Hi, @ashleygwilliams, I'm sorry I'm confused. It seems that [the original yml works fine for wasm-pack](https://ci.appveyor.com/project/ashleygwilliams/wasm-pack/build/1.0.363), and according to [AppVeyor's doc](https://www.appveyor.com/docs/build-configuration/#yaml-file-alternative-naming), renaming the config file make no difference, which I thought it have to be without the prefix-dot.

[2018-06-07 16:52] fitzgen commented on #159
I think we definitely need to expose control over optimization level. The other knobs I am "meh" on.

Regarding pre-configured builds: totally agree! I also don't think that is mutually exclusive with exposing knobs to change the default of some setting within each build. For example, cargo lets you do this with things like:

[code]

I think we could do the same kind of default build configuration

[2018-06-07 18:50] Pauan commented on #157
@ashleygwilliams My intention was certainly not to be rude! How should I point out factually incorrect things in a friendlier way?

Ah, I did not realize that wasm-bindgen has support for CommonJS, in that case you're right that it does make sense to support it.

[2018-06-08 02:01] bigfish24 commented on #157
@ashleygwilliams could you share some of your thoughts on how to do this?

[2018-06-09 05:47] migerh commented on #145
I had a look at this and it is indeed related to the MultiProgressBar. When a progress bar is added to a multibar, the drawing target is changed from the default `stderr` to a remote draw target, whatever that is. See also the [multibar docs](https://docs.rs/indicatif/0.9.0/indicatif/struct.MultiProgress.html#methods), especially the `add` method. I don't know how the multibar is supposed to inter

[2018-06-09 14:20] migerh commented on #145
Turns out there are multiple spinners instantiated at the same time. All those warnings and infos and errors are spinners as well but they don't spin because they immediately `finish()`. These wannabe spinners interfere with the real spinners so that a real spinner will overwrite the last warning/error/info. So with my patch it looks like this

[code]

instead of this

[code]

I'll keep looking…

[2018-06-10 08:50] migerh commented on #145
Small update: I think the issue is with the indicatif crate. I opened an issue [here](https://github.com/mitsuhiko/indicatif/issues/52).

Short summary: Spinners in a multibar do not spin while a child process spawned with `std::process::Command` runs.

[2018-06-10 19:17] sendilkumarn commented on #147
@ashleygwilliams Don't we already have the windows build? Do you mean something else here.

[2018-06-11 14:13] data-pup commented on #146
I rebased the PR I had open at #81, to prepare for taking care of this. I had a few questions regarding issue:

*  Is the dev-dependency strategy the way mentioned above the way we'll want to move forward? I like that idea as well, but wasn't sure if we ended up figuring out whether it can be specified in the dev-dependencies sections.

*  Are there any outstanding PR's that I should wait to land

[2018-06-11 20:47] ashleygwilliams commented on #147
@huangjj27 @sendilkumarn the purpose of this issue is to instruct our current appveyor CI to publish the builds it makes as releases to our releases page here on github (https://github.com/ashleygwilliams/wasm-pack/releases). you can see on this page that we are building OSX and linux. i'd like to get the windows one going as well, as we also support windows.

this is a help document on how to do

[2018-06-11 21:54] #154 closed

[2018-06-11 22:32] ashleygwilliams commented on #160
@fitzgen it would be really useful in discussing this if we had a strawman proposal. do you think you could write up an example of what you think it might look like and we can discuss from there? thanks! (of course, anyone else reading this should also feel free to post an example of how they think configuration should work!)

[2018-06-11 22:33] ashleygwilliams commented on #160
(also, i updated the title because, while i think we'll likely want to use TOML, i don't want to close the convo off to potentially other formats, assuming there's a good rationale, of course)

[2018-06-11 22:53] ashleygwilliams opened #165 "refactor command.rs into per command modules"
command.rs is getting pretty big. let's refactor it into per command modules.

i'm gonna snag this one and probably do it as clean up right before the 0.4.0 release (assuming there are no objections to this refactor)

[2018-06-11 22:57] ashleygwilliams commented on #146
i don't think it's blocked by #162, but i think i'll probably land #162, #127, #151, #150 for 0.4.0 and this might be something we put off until 0.5.0- again, not blocked, but worth mentioning because #151 introduces a p large rewrite so i can only imagine what the rebase will look like :/

[2018-06-11 22:59] ashleygwilliams commented on #146
and re:strategy... i am still not entirely sure, but the devdep one is the best idea i have so far! alex is on vacay for a month so i'm not sure- perhaps @fitzgen has some thoughts?

[2018-06-11 23:01] fitzgen commented on #160
This is what I imagine the defaults from #153 would look like, as described in a strawman toml format

[code]

[2018-06-11 23:05] fitzgen commented on #146
The thing with dev-dependencies is that is a cargo-centric thing, but all of our post-build steps aren't really integrated into cargo.

What I did in the template was to ensure that a project-local `wasm-bindgen` CLI was always installed by using `cargo install --root` like this: https://github.com/rustwasm/rust_wasm_template/blob/master/ci/script.sh#L155-L174

[2018-06-11 23:29] ashleygwilliams commented on #157
@Pauan no worries- i didn't think your intention was to be rude at all <3<3 one way to point out things out in a friendly way is to express them as a question e.g. "did you mean to say...?" or to suggest that perhaps it was a mistake. it can also help to make it clear when you are expressing opinions by adding "i think" to statements, e.g. "i think it should be like X" instead if "it should be X".

[2018-06-12 01:08] #140 closed

[2018-06-12 01:32] #141 closed

[2018-06-12 01:36] ashleygwilliams commented on #147
ugh wait. i'm the worst.. it is building releases... or it is supposed to be building releases. seems like this is not a feature request but a bugfix! sorry ya'll.

[2018-06-12 15:32] mgattozzi opened #169 "Move Travis to use the Checks API"
We'll need to upgrade the build at some point to do this. This one is probably something you'll need to do @ashleygwilliams

[2018-06-12 15:33] mgattozzi commented on #165
No this is good was going to recommend doing this soon myself

[2018-06-12 15:44] mgattozzi opened #170 "Add a WIP bot for PRs"
We tend to have PRs that might be open that are WIP and want to make sure are not accidentally merged. We should consider adding this bot to avoid that problem rather than letting maintainers accidentally merge things!

https://github.com/wip/app

[2018-06-12 20:42] FreeMasen opened #171 "Add nightly toolchain to commands"
Currently, unless the user has set cargo to use the nightly compiler, this project will fail in a somewhat unfriendly way.

Updating the rustup/cargo commands to account for this would be helpful.

`rustup target add wasm32-unknown-unknown --toolchain nightly`
`cargo +nightly build --target wasm32-unknown-unknown`

It may be helpful to check that the nightly toolchain is actually installed as well

[2018-06-12 22:42] ashleygwilliams commented on #171
@FreeMasen this is an excellent suggestion! if you'd like to add it- we'd welcome a PR- otherwise i'll open this up to contributors!

[2018-06-12 22:43] ashleygwilliams commented on #170
yes. i like this idea a ton and likely can get this set up today.

[2018-06-12 22:43] ashleygwilliams commented on #169
indeed. do we know how urgent this is? i've been waiting for an announcement from travis but haven't seen anything (though i may have missed it because of travel)

[2018-06-12 22:57] ashleygwilliams commented on #170
ok! it's added. i think we'll see it for all new PRs :)

[2018-06-12 22:57] #170 closed

[2018-06-12 23:04] ashleygwilliams commented on #144
hey @clanehin i think that this is *incredibly* useful and different "build profiles", or sets of wasm-pack steps, is something that i am also doing a lot of thinking about right now. the fact that wasm-pack currently affects the global env is something i'm not pleased about and is something we are actively discussing mitigating in #146 (at least for the `wasm-bindgen` dep, i'm not sure how we cou

[2018-06-12 23:31] FreeMasen commented on #171
I should be able to knock that out tomorrow.

[2018-06-13 00:05] mgattozzi commented on #170
YAY! :D

[2018-06-13 00:07] mgattozzi commented on #169
I mean it looks like they said 2 weeks but here we are 🤷‍♂️ . It was not very clear. Don't think it needs to be done today, but maybe by like the release after this one?
https://blog.travis-ci.com/2018-05-07-announcing-support-for-github-checks-api-on-travis-ci-com

[2018-06-13 02:01] clanehin commented on #144
I guess I left it out in the spirit of, "let me show you my data and see if you come to same conclusion I did."

So, I hope I've convinced you that we don't need to skip building the output (wasm and package.json and support javascript). I also see two disadvantages: as a pedagogical tool, it risks creating extra novelty for the learner to keep track of, and as an everyday-use tool it risks leavin

[2018-06-13 04:18] FreeMasen commented on #146
If still available, I would like to take this on?

The way I see it we should validate the `wasm-bindgen` version used when compiling a crate by checking the `Cargo.lock` file for the version used. We can then check against `.crates.toml` file which inventories the binaries installed by cargo. This file would exist either in the crate root (if --root is used) or would be located in `CARGO_HOME`. I

[2018-06-13 06:17] mbalex99 commented on #157
@ashleygwilliams thanks for the insight. Right now our project is constructing 2 js and 2 wasm. Which is fine but makes building a library on top sort of force their project to build 2 different paths. Ideally the 2nd way sounds much simpler for the future.

Thanks! CommonJS is sort of the standard when it comes to publishing it on NPM.

[2018-06-13 13:30] data-pup commented on #146
@FreeMasen I was hoping to take care of this issue, if you don't mind. Some of this issue is carrying over from #51, which I opened a PR for back in April at #81. That issue was blocked while #115 was handled, but I can start working on this issue this week since we have a good strategy to solve this now.

If you feel strongly about it and would -really- like to get it done feel free, but there's

[2018-06-13 14:28] FreeMasen commented on #146
@data-pup Ok, thanks for letting me know.

If it is any help, I broke out the local package parts of [cargo-upstall](https://github.com/FreeMasen/cargo-upstall) into a `lib.rs` in the same crate. I also added the ability to check both `$CARGO_HOME/.crates.toml` as well as `$PWD/.crates.toml`

[2018-06-13 18:10] ashleygwilliams commented on #144
@clanehin so- i think all of this is really great and i think i would like to open up a new issue to get a `--no-install` flag implemented. my one thought is: do you think that `--skip-build` existing is actively harmful or detrimental to the features you want? since we are 1.0 i think it's potentially useful to play with some of these "build coonfiguration options" and see how they play out in th

[2018-06-13 18:11] #126 closed

[2018-06-13 20:09] ashleygwilliams commented on #144
ok- i am going to make a sort of executive call to merge the current PR- but please don't view this as me dismissing or diminishing your comments. i think if we need to we can still deprecate and/or change --skip-build. i'd like to get this refactor in now to unblock a bunch of PRs. i'll start up a new issue to discuss this stuff :)

[2018-06-13 20:10] ashleygwilliams commented on #144
closed by #151

[2018-06-13 20:10] #144 closed

[2018-06-13 20:16] ashleygwilliams opened #173 "`--no-install` flag"
following up on #144  cc @clanehin

[2018-06-13 20:17] ashleygwilliams opened #174 "`-i` interactive flag option"
per #144 i think an interactive option might be an interesting idea cc @clanehin

[2018-06-13 20:34] #171 closed

[2018-06-13 22:50] steveklabnik commented on #160
After trying tools that use an external `.toml` file vs putting configuration in `Cargo.toml`, I would argue that putting it in `Cargo.toml` is much nicer. All of your configuration is in one file, rather than an increasing number of `.toml` files.  See https://github.com/rust-osdev/bootimage#configuration for example; you could put this in

`[package.metadata.wasm-pack.build.debug]`

instead of j

[2018-06-13 23:36] marcoscaceres opened #177 "Error while packing"
[code]

[2018-06-14 05:54] migerh opened #178 "Steps 1 and 7 are missing"
This is the output of wasm-pack right now (current master branch 460dade1dfe1e94b2, not including the fixed spinners):

[code]

Steps 1 and 7 are missing.

Step 1 is missing because the `Step` struct in progressbar.rs is initialized with `1` instead of `0`.
Step 7 is missing because during the execution of [`Init::step_check_create_type()`](https://github.com/ashleygwilliams/wasm-pack/blob/460dade

[2018-06-14 06:00] migerh opened #179 "Improve PoisonError conversion"
PR #164  refactored the progressbar such that it now uses RwLocks which might be poisoned. A PoisonError is converted to an `error::Error` and handed over the error to the caller.

@mgattozzi already pointed out that there is room for improvement regarding the error conversion (right now we potentially lose information contained within the PoisonError) in comments https://github.com/ashleygwilliam

[2018-06-14 17:04] mgattozzi commented on #177
It seems like you're code doesn't have the right features turned on! It's a quick fix!

Make sure this `#![feature(proc_macro, wasm_import_module, wasm_custom_section)]` is at the top of your `src/lib.rs` file. If you look at the help section of the error messages it also suggests to add that, but wasm-pack also needs the two wasm features turned on as well.

If that doesn't fix your issue please

[2018-06-14 17:04] #177 closed

[2018-06-14 17:07] mgattozzi commented on #179
I suspect that since we use it with 2 different types I believe the solution is to just use the concrete types rather than a generic T now that I've had time to think about it. :smile:

[2018-06-14 17:29] marcoscaceres commented on #177
I misspelled “macro” ... because my name is marcos

[2018-06-14 17:37] ashleygwilliams commented on #177
@marcoscaceres i backchanneled the story to @mgattozzi he didn't realize that i had asked you to file :)

[2018-06-14 17:39] ashleygwilliams commented on #178
working on this in #180 thanks for filing this issue @migerh - it's super detailed and incredibly useful, so appreciated <3

[2018-06-14 17:46] migerh commented on #179
Right now it would be four types in total then, I think:

* `LockResult<RwLockReadGuard<String>>`
* `LockResult<RwLockWriteGuard<String>>`
* `LockResult<RwLockReadGuard<ProgressBar>>`
* `LockResult<RwLockWriteGuard<ProgressBar>>`

But if the `ProgressBar` and `String` members would be factored out into something like `ProgressOutputState` and this were to be put into an `RwLock<ProgressOutputState

[2018-06-14 17:48] migerh commented on #179
It could also be worth looking into [parking_lot](https://crates.io/crates/parking_lot). This library apparently will release the locks when a thread panics instead of poisoning them.

[2018-06-14 19:11] mgattozzi commented on #179
I'm totally okay with improved versions of the std for this kind of thing. :D

[2018-06-15 03:45] mtharrison opened #183 "Some broken links in docs"
It seems like rust-lang-nursery/rust-wasm has moved which means some of the links are no longer working. An example is https://rust-lang-nursery.github.io/rust-wasm/setup.html.

[2018-06-15 03:55] #183 closed

[2018-06-15 08:41] mtharrison opened #185 "How to rebuild upon changes to rust?"
The docs mention `wasm-pack init` to initialize a project with wasm-pack. This creates the package files in pkg by performing quite a few steps and takes a while (2 mins on a smallish project for me).

My question is when I make changes to the Rust source how do I then _just_ rebuild what is in pkg? Do I invoke Rust compiler and `wasm-bindgen` manually, or does wasm-pack provide something like a `

[2018-06-15 13:46] mgattozzi commented on #185
Hmmm this is unclear I guess, but you use init as the command to build it as well! cc/ @ashleygwilliams maybe we need to consider different commands or verbiage? Or just better docs.

[2018-06-15 14:14] mtharrison commented on #185
Sure you could use `init` again but if I do that, `init` it takes around 2 mins whereas if I just run the following it's almost immediately completes:

[code]

For now I've put that in a script and invoke it using a Makefile but I'm curious how other's workflow looks.

[2018-06-15 14:33] mgattozzi commented on #185
So there's a problem outlined in #115 that we kept running into. There's a flag added in https://github.com/ashleygwilliams/wasm-pack/issues/144 that will make it easy to just skip that stuff that makes the build take forever that's being released (hopefully) today. We are trying to make the tool handle, if I need to upgrade bindgen how and how is it tied to this version for the program. It's just

[2018-06-15 15:16] ashleygwilliams commented on #185
yeah i was actually gonna make a `--no-install` flag today that runs exactly what you shared @mtharrison - i sorta like `wasm-pack build` more but dont wanna make that call without discussion! would love to hear more about the set of commands you'd expect and what they should be named! we've been growing kinda fast and have def outgrown our original definitions-

[2018-06-15 15:49] clanehin commented on #144
I noticed. Entirely sensible; if anyone still feels they would benefit from --skip-build I don't see any reason to deprive them of it.

[2018-06-15 20:28] #178 closed

[2018-06-16 05:35] mtharrison commented on #185
Cool, that will do the job I think. In terms of expectation, I would probably expect either `wasm-pack build` or maybe just `wasm-pack .`.

[2018-06-16 06:48] migerh commented on #179
Then I'll take a look at parking_lot.

[2018-06-18 16:57] ashleygwilliams commented on #165
fixed by #182

[2018-06-18 16:57] #165 closed

[2018-06-18 16:57] ashleygwilliams commented on #145
fixed by #180

[2018-06-18 16:57] #145 closed

[2018-06-18 17:01] ashleygwilliams commented on #185
@mtharrison a first pass at fixing this is landing in today's 0.4.0 release, you can invoke it as `wasm-pack init <optional path> --mode no-install`, but for the next release i think we'll figure out how to separate `init` into `build` and `init`

[2018-06-18 17:10] #173 closed

[2018-06-18 17:11] ashleygwilliams commented on #179
closed by #187

[2018-06-18 17:11] #179 closed

[2018-06-18 17:14] ashleygwilliams opened #188 "split `init` command into `init` and `build`"
we've been *packing* (pun intended) a ton of stuff into the `init` command. this has the benefit of being a one-stop shop, but as we've seen with the intro of the `--mode` flag it's a lot harder to customize, and for those who use wasm-pack as a build tool, a single command that does *everything* is not really what folks want. for 0.5.0 let's break out `init` into a `init` and `build` command.

st

[2018-06-18 17:14] ashleygwilliams commented on #188
related: #185

[2018-06-18 17:22] ashleygwilliams opened #189 "publish and pack commands have confusing path expectations"
currently the `publish` and `pack` commands anticipate that you are running them from a directory that contains a `pkg` directory to be published. i have confusingly `cd`'d into the `pkg` directory and tried and gotten an error, e.g.:

[code]

i think it's working fine as is, but perhaps we want to have a custom error message here that explains the situation, and/or have an option to pass a path t

[2018-06-18 18:43] mtharrison commented on #185
That's great news, thanks!

[2018-06-18 18:52] fitzgen commented on #188
SGTM.

Ideally, `--no-installs` will be unnecessary as well, once we can properly determine whether the dependency tools are available and up-to-date or not.

[2018-06-18 19:10] ashleygwilliams opened #190 "move to rustwasm org"
we've been running as a repo under my personal account for a while- however i think it's about time that we move to the rustwasm org: https://github.com/rustwasm

this... might cause some issues. particularly around links. we'll see! i'll hopefully be able to clean all those up. it *may* require a point release if it super breaks links in the README but we'll see.

[2018-06-18 23:17] data-pup opened #191 "Remove outdated quicli comments from `init.rs`"
Now that `quicli` is not in the dependencies, the comments above `init::create_pkg_dir` are outdated. Further, I believe the full paths to `result::Result` are no longer needed in the various function/method definitions, since that conflict is no longer caused by `quicli::prelude`.

Assuming I'm right about all of that, I was thinking this could be a pretty straightforward thing to fix, and a good

[2018-06-19 02:41] ashleygwilliams commented on #191
go for it @data-pup - i saw them but just had etoomany things on the brain- this would be greatly appreciated and i love that you'll use it as a pairing sesh!

[2018-06-19 18:30] #191 closed

[2018-06-19 20:29] ashleygwilliams commented on #190
this has already happened but i'm leaving this open just in case people might get confused! i'll close at the end of the week.

[2018-06-25 16:28] yoshuawuyts opened #196 "Workflow: how to wasmify third party crates?"
Okay, so I've been trying out wasm-pack for a bit, and I'm wondering how to
package up crates. Let's start off by sketching two real-world scenarios

## Scenarios
### Workspaces
In this scenario we have 3 different workspaces
[code]

I would want to have one workspace for the core library, one for the WASM
version, and one for the C bindings. This is useful because not all versions
might have the

[2018-06-26 08:46] csmoe commented on #188
Given the original `init` options,
[code]
#194 introduced the configuration:
[code]
In the addition of `build` options above, should I move `init.debug` into `build` too?

[2018-06-28 18:14] alexcrichton commented on #146
Currently when publishing wasm-bindgen I try to publish a new version of all the associated crates. All the wasm-bindgen crates also have `=` dependencies on all internal crates, so if you install `wasm-bindgen-cli 0.2.5` you'll only get the 0.2.5 version of things and won't accidentally pick up the 0.2.6 versions if they're newer. In that sense if the wasm-bindgen library dependency is at 0.2.5 t

[2018-06-28 19:29] FreeMasen commented on #157
I think I may have a solution in a PR to `wasm-bindgen` that will make this work right now.

https://github.com/rustwasm/wasm-bindgen/pull/326

Any comments on the implementation there would be greatly appreciated. If this gets merged we could then add a new `--target` to `wasm-pack` to allow for this

[2018-06-28 19:31] xtuc commented on #157
It seems that this discussion is redundant with the issue https://github.com/rustwasm/wasm-bindgen/issues/233

[2018-06-28 21:08] mgattozzi commented on #146
I still think a sandboxed build tool rather than a globally namespaced one is the best way to go, because what about other projects using the same thing? what if they use a different version?

[2018-06-28 21:38] alexcrichton commented on #146
Currently at least there's not much reason to stick to an older wasm-bindgen version so in that sense it'd be fine to aggressively move it forward, but in the future it may be worthwhile to have per-project versions for sure!

[2018-06-30 12:17] ashleygwilliams commented on #190
closing as it's been well over a week 😅

[2018-06-30 12:17] #190 closed

[2018-06-30 21:51] Mackiovello commented on #189
I would like to give this a try! I think it should work similarly to how [`dotnet publish`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish?tabs=netcore21#arguments) works:

* It uses the current directory by default
* You can optionally set the directory as the first argument
* If there's nothing to publish in the directory, it gives a nice error message: `Specify a project or s

[2018-07-02 16:25] mgattozzi commented on #189
Yeah! I believe this is the correct way and kind of what we would want to do. So what happens is that it just uses the I/O error which is "Can't find the file". Best way to make this nicer is the following:

- Before we publish create a `Path` to the `package.json`
- Check that it [exists](https://doc.rust-lang.org/std/path/struct.Path.html#method.exists)
- If it does not keep trying the different

[2018-07-06 04:38] Mackiovello commented on #189
After looking at this some more, I think it's surprising that the user-entered path should point to the parent of the pkg directory. I don't know any tool that works this way. Would it be alright to change this behavior?

What I imagine is that the user-entered path points directly to the pkg directory by default. But to maintain backwards compatibility, it also looks in the child directories if t

[2018-07-06 22:22] mciantyre opened #199 "Missing wasm-bindgen file in package.json"
Hey team! I'm hitting an issue with the packing step of `wasm-pack`. I think I'm missing a file in my `package.json`'s files section. It's affecting module resolution after I `npm install` the output from `wasm-pack pack`.

Consider the test fixture `js-hello-world`. After `wasm-pack init -t nodejs`, `wasm-bindgen` generates a typescript file, two javascript files, and one WASM file:

[code]

But

[2018-07-06 22:36] mciantyre commented on #199
Of course! It looks like `js_hello_world.js` is `main` in `package.json`. But the `*_bg.js` qualified version is not included:

[code]

[2018-07-06 22:53] ashleygwilliams commented on #199
ah ha! so- that's the bug, if you add the `_bg` to your `package.json` this should work. i'm about to head out, but i'll mark this as a bug- and i am always happy to recieve PRs :)

the fix should just be an update to this line, https://github.com/rustwasm/wasm-pack/blob/master/src/manifest.rs#L74, i think but i haven't poked at this locally at all. i'm curious how the tests didn't catch this, so

[2018-07-10 20:23] ashleygwilliams opened #201 "0.4.1"

[2018-07-13 14:44] ashleygwilliams opened #203 "should wasm-pack clean up after itself? and if so, how?"
sometimes wasm-pack fails. currently it just leaves everything as is- should it remove files it created if the whole process fails? i find myself rm -rf the pkg directory if that happens to run it again, but in general i'm not sure if that's a workflow for me as a lib author and not something an end user would be interested in. thoughts?

[2018-07-13 18:02] ashleygwilliams commented on #199
ok! so- after pulling down several of the fixes and poking at this, i realize i missed a key portion of your bug report- the `--nodejs` flag. when wasmpack is run with --nodejs it generates 2 js files, while the others only generate one! this is definitely a bug, and i will fix the flag's behavior and make a release. sorry it's taken a second for me to handle this- appreciate your patience!

[2018-07-13 18:32] fitzgen commented on #203
My 2 cents:

Not worth the code complexity and potential for mistakes if/when there are bugs in this code (eg rm the wrong dir!).

Being able to manually `rm pkg/` is fine IMO.

[2018-07-13 20:03] ashleygwilliams opened #206 "issue template"
given my foolishness in interpreting a recent bug report, i think we should set up a template to help organize key info (like command + flags run)

[2018-07-13 20:40] #199 closed

[2018-07-14 01:51] mciantyre commented on #199
Thanks for taking a deeper look! I'm sorry I never tested with the non-node target flag, nor considered it in some of my rework haha.

Looking forward to the 0.4.1 release!

[2018-07-14 05:52] Mackiovello opened #212 "Weirdly formatted text in log with wasm-init"
To reproduce:

[code]

**wasm-pack.log**
[code]

There are two problems here: "ERRO" should be "ERROR" and there is some encoding issue with what should be `"wasm-bindgen"`.

I'm on Ubuntu 16.04

Locale, if that matters:

[code]

[2018-07-14 05:58] Mackiovello opened #213 "use std::path::Path[Buf] and join for paths"
[code]

In the last line it says "Your WASM pkg is ready to publish at myproject//pkg.". It should probably just be "myproject/pkg".

This is on Linux.

[2018-07-14 10:52] Mackiovello commented on #213
The issue is only when the path has a trailing forward slash. Would it make sense to trim this in [`set_crate_path`](https://github.com/rustwasm/wasm-pack/blob/master/src/command/utils.rs#L5-L12)?

Since we probably have this issue in a number of places where we do `{}/pkg`, I think that's the way to deal with it.

[2018-07-14 21:06] fitzgen commented on #213
Long term, I think a lot of places should start using `std::path::Path[Buf]` in `wasm-pack`, and then we could use the `join` method instead of `{}/pkg`.

[2018-07-16 14:02] ashleygwilliams commented on #212
Thanks for filing! Could you let me know what version of wasm-pack you are using and what command you ran? That will help us track down what the issue is. We are not currently localizing the log so this is almost certainly a bug!

[2018-07-16 14:07] ashleygwilliams commented on #213
strong agree with @fitzgen. have renamed this issue to that plan. PRs welcome!

[2018-07-16 14:08] ashleygwilliams commented on #203
cool @fitzgen - i think i mostly agree. gonna leave this open for the week on the offchance we get other replies. i'll close on Friday.

[2018-07-16 14:11] ashleygwilliams commented on #196
@yoshuawuyts sorry this has sat with no reply for so long. i *think* i sort of understand what you want to do- is a general way of stating what you want `workspace` support. something that would help me understand better is if you could explain what happens if you try to use `wasm-pack` today in the scenarios you described above and/or what you would like to see?

[2018-07-16 14:12] Mackiovello commented on #212
Sure:

[code]

This is the exact sequence as above but with `git show` included so you can see the exact git commit I'm on. It's the latest master right now.

The weird thing is that it works fine if I run `cat wasm-pack.log` but it's incorrect if I open it in both Vim and VSCode. It would be good if someone could execute the exact steps above and then open `myproject/wasm-pack.log` to see if they

[2018-07-16 14:13] Mackiovello commented on #213
I'd love to take this one! It seems to be on my level.

[2018-07-16 14:22] ashleygwilliams commented on #188
hey @csmoe sorry i missed this comment. let me get the split done (hopefully today or tomorrow) and then we can figure out exactly where things should be. it'll be easier once it's actually in place.

[2018-07-16 14:52] ashleygwilliams commented on #212
oh thanks for the details @Mackiovello ! particularly that `cat` works fine. i'll be honest, in my testing of it i've only viewed the log with `cat` so this is almost certainly why i've missed this. yay character encoding!! lolsob

[2018-07-16 15:06] ashleygwilliams opened #214 "fix appveyor badge"

[2018-07-17 00:07] #214 closed

[2018-07-17 14:12] yoshuawuyts commented on #196
I think I have 2 questions here:

## 1.

I think the general question I have is "what is the right directory structure for a project that wants to target Rust, C and WASM?" I feel the C and Rust targets are well understood. It's still a bit unclear to me how to structure a project to _also_ target WASM.

I think your suggestion of just trying out wasm-bindgen on my project's core repo is the right

[2018-07-17 16:48] clanehin commented on #153
I've had time this week to look into this issue again. I can submit a pull request that just changes "--debug" into something like "--profile=dev" / "--profile=release" so that the set of profiles will be extensible.  <-- do you want me to go ahead and submit this?

(1) Cargo already implements three build profiles ("dev", "release", and "bench") which roughly correspond to the three profiles we w

[2018-07-17 17:03] clanehin opened #217 "Don't lock wasm-pack packages to nightly"
Currently, wasm-pack seems to call cargo build with +nightly. This may not be the user's intention, especially in "no-install" mode.

If I'm not mistaken we can set the toolchain using `rustup override set nightly` immediately after installing it. Then if we installed the toolchain we'll automatically use it in every subsequent command, and if we didn't then whatever goes wrong will be the user's

[2018-07-19 15:34] ashleygwilliams commented on #217
hey @clanehin ! at the moment, wasm-bindgen only works on nightly, so in order to build we'd need nightly still. once the 2018 edition lands, we should be able to move wasm-bindgen to stable, and then i would absolutely be interested in this :)

[2018-07-19 16:19] Mackiovello opened #219 "Unable to init project because of compiler errors with proc-macro2"
Steps to reproduce:

[code]

More information:

[code]

Am I doing something wrong here or is this a regression?

[2018-07-20 03:05] ef4 commented on #219
I am trying out wasm-pack for the first time and also hit this issue. But I think I found the solution. Update to:

    wasm-bindgen="0.2.12"

and adjust your features to:

    #![feature(use_extern_macros, wasm_import_module)]

That was enough at least for me to get a hello world to compile.

If I am understanding correctly, this is fallout from [this rust change](https://github.com/rust-lang/rus

[2018-07-20 08:29] ashleygwilliams commented on #219
hey @ef4 and @Mackiovello - this is exactly correct. will be updating the tutorials today- unless someone wants to make the PR to the docs! thanks for filing <3

[2018-07-20 09:28] Mackiovello commented on #219
@ashleygwilliams we would have to update the error message for `wasm-pack init` too since it specifically asks you to add `wasm-bindgen = "0.2"`. I can create a PR later today for the docs and the error message unless someone else does it before me.

[2018-07-20 10:12] Mackiovello commented on #219
After looking at this, it seems like the only thing needed to fix it was to update rust with `rustup update nightly`. It works even if I don't set wasm-bindgen to 0.2.12 or set any feature flags. So do we actually need to update anything? I'm not able to reproduce with latest nightly.

[2018-07-20 11:41] ashleygwilliams commented on #219
@Mackiovello i was able to reproduce. i think it's best for us to update the example to be inline with wasm-bindgen anyways. i'll be filing a PR :)

[2018-07-20 11:50] clanehin commented on #217
Yep, but it doesn't have to be +nightly specifically. It will work fine with reasonably recent nightly releases like "nightly-2018-06-24".

[2018-07-23 12:02] #213 closed

[2018-07-24 05:03] turboladen opened #221 "wasm-bindgen dep check should not fail on dep map"
I poked around other issues and didn't see any related info, so sorry if I'm missing something here... I was playing around with an existing `wasm-pack`-happy project by enabling [`wasm-bindgen`'s "serde-serialize" feature](https://github.com/rustwasm/wasm-bindgen/blob/f437e06463fb096af04afaa405ad116b2e8f2ef7/src/lib.rs#L187)... everything was all good until I tried rerunning the project through w

[2018-07-24 11:43] ashleygwilliams commented on #221
Hey @turboladen thanks so much for the bug report and sorry you are running into this issue! My *best bet* is that this is actually an error with `wasm-bindgen` but I'll have to reproduce it myself and poke at it a bit. In the meantime, I'm going to tag @alexcrichton into this to see if he happens to have any thoughts! Feel free to update the issue if you run into any new info or ideas!

[2018-07-24 12:37] ashleygwilliams commented on #221
ok! i know what the issue is. when wasm-pack checks that you have wasm-bindgen as a dependency it only expects the naive declaration, not the map version. we'll need to update this code (feat(nav): add naive nav) to be able to handle the 2 different ways to list wasm-bindgen as a dep

[2018-07-24 14:07] mgattozzi commented on #189
@ashleygwilliams was this closed by #198 or was that only closing part of the issue? I'm catching up on two weeks of things here so I'm a bit uncertain as to that.

[2018-07-24 14:10] mgattozzi commented on #206
Do we want just one type of issue template or do we want one for various situations?

[2018-07-24 14:21] mgattozzi commented on #212
Oh boy character encoding issues! Will try this out soon to see if I can reproduce

[2018-07-24 14:29] mgattozzi commented on #203
It's been over a week so I'm going to close. If people have issues with this we can reopen the thread later :D

[2018-07-24 14:29] #203 closed

[2018-07-24 14:37] yoshuawuyts commented on #196
In regards to 2 - I kind of wonder if we could formulate an answer by hacking https://github.com/chancancode/rust-delegate into automatically adding the right `#[wasm_bindgen]` attributes.

I was thinking it might be fantastic to be able to do something along the lines of this:
[code]

My macro foo isn't quite up to speed; but my gut tells me this should be possible, right?

[2018-07-24 15:16] ashleygwilliams commented on #206
i think situations, mainly "bug report", "feature request"

[2018-07-24 17:33] turboladen commented on #221
Awesome! Thanks for checking into this so quickly!

[2018-07-24 19:14] ashleygwilliams commented on #219
heads up this will be included in a point release i intend to get out today! thanks again for the report- i super appreciate it <3 :)

[2018-07-24 19:15] ashleygwilliams commented on #221
heads up this will be included in a point release i intend to get out today! thanks again for the report- i super appreciate it <3 :)

[2018-07-24 19:26] ashleygwilliams opened #223 "0.4.2"
a point release so nice we did it twice

[2018-07-24 19:42] #219 closed

[2018-07-25 00:32] ashleygwilliams opened #225 "review and reduce feature flags in fixtures and docs"

[2018-07-25 00:56] #221 closed

[2018-07-25 01:09] ashleygwilliams commented on #189
closed by #198

[2018-07-25 01:09] #189 closed

[2018-07-25 01:18] #225 closed

[2018-07-25 02:31] ashleygwilliams commented on #223
closed by #228

[2018-07-25 02:31] #223 closed

[2018-07-25 16:22] callahad commented on #212
Not an encoding issue; those are [ECMA-48 SGR codes](http://man7.org/linux/man-pages/man4/console_codes.4.html). `[1m` is set bold, `[2m` is set half-brightness, and `[0m` is reset to default. Raw terminal output is getting dumped into the log file, including the formatting control codes to print "**wasm-bindgen**" in bold:

Notice the difference between `less wasm-pack.log` and `less -R wasm-pack

[2018-07-25 21:31] porylporyl commented on #212
Hi! I've actually been working on this one since last week, after discussing it with Ashley and finding it'd be a good first issue. I meant to write an update post yesterday but it got away from me.

In any case, the simplest solution for this seems to be just removing the encoding before throwing the message to the log. The message gets formatted in manifest.rs at the check_wasm_bindgen function,

[2018-07-26 14:17] ashleygwilliams opened #229 "split test/utils into individual files"
@fitzgen did some awesome test refactoring/building, but the `utils` file is p long and has a bunch of stuff in it. it'd be great for discovery to turn the `utils` file into a directory and have separate files for the different `mods`/`structs` in there :)

[2018-07-27 13:54] xtuc opened #233 "Pack and publish links in README are dead"

[2018-07-27 14:01] xtuc opened #234 "Add build subcommand?"
Hi :wave:

It seems that the only way to build the crate is to run `wasm-pack init`, but it also initialize the project.

Webpack plugin/loader would enable watching the code and rebuilding it if needed (probably incrementally?) in development. That's why I would suggest adding such a command.

An alternative would be to wrap `wasm-pack` in another project, consuming the API to expose the features

[2018-07-27 14:23] ashleygwilliams commented on #234
hey @xtuc - we actually have a PR open for exactly this ;) #216  let me know if that doesn't work for you-

[2018-07-27 14:42] ashleygwilliams commented on #233
merged a PR for this a few seconds ago #230

[2018-07-27 14:42] #233 closed

[2018-07-28 12:41] #234 closed

[2018-07-28 14:24] xtuc opened #235 "--out flag that allows configuration of `./pkg` dir"
This is a feature request; I would like to configure the output directory (currently hardcoded to `./pkg`).

When Webpack invokes `wasm-pack` in the root of the project it will create the `./pkg` directory. Unlike the normal `wasm-pack`'s use case we won't publish it and don't `.gitignore` it.

I would like to avoid generating the intermediate files in the user's repository but rather in a tempora

[2018-07-28 15:50] ashleygwilliams opened #236 "remove publish link"

[2018-07-28 19:51] data-pup commented on #235
I wouldn't mind taking this one! I'll start looking into it, and will follow up if I have any other questions :)

[2018-07-29 14:31] csmoe commented on #159
I'll take care of this.

[2018-07-30 14:11] ashleygwilliams commented on #188
closed by #216

[2018-07-30 14:11] #188 closed

[2018-07-30 14:12] ashleygwilliams commented on #101
closing because stale and waiting on an rfc process.

[2018-07-30 14:12] #101 closed

[2018-07-30 14:13] mgattozzi commented on #196
You would need the compiler's internals to understand what exists in the type in terms of functions etc., so I feel like it would be possible with a plugin for sure, but it miiiight be possible with proc-macro. I feel less certain about the latter.

[2018-07-30 14:14] ashleygwilliams opened #237 "move hello wasm-pack tutorial to this repo"

[2018-07-30 14:18] mgattozzi commented on #212
Thinking of it we could clone it and strip the ansi codes from the clone only and then pass back the other one like normal. I think that's the easiest solution if it's cloneable (which my guess is that it should be)

[2018-07-30 14:21] ashleygwilliams opened #238 "tests are extremely slow"
since merging https://github.com/rustwasm/wasm-pack/pull/211 i've observed that tests are extremely slow (at least locally on my machine). usually i don't mind, but i think they are prohibitively slow at this point. i am considering reverting... is anyone else seeing this? is it just me?

[2018-07-30 14:23] ashleygwilliams commented on #238
lol maybe this is why nvm
<img width="378" alt="screen shot 2018-07-30 at 10 22 50 am" src="https://user-images.githubusercontent.com/1163554/43403274-a629578c-93e2-11e8-85bc-b66c1240fc89.png">

[2018-07-30 14:47] ashleygwilliams commented on #236
yeah. but i think i fixed this when rebasing the init/build PR. closing.

[2018-07-30 14:47] #236 closed

[2018-07-30 15:02] ashleygwilliams commented on #238
yeah i think this is my computer being poopy- i'll figure it out

[2018-07-30 15:02] #238 closed

[2018-07-30 16:59] xtuc opened #240 "importing local js files"
With `wasm-bindgen` we can depend on local JavaScript files, like the following example (from https://github.com/rustwasm/wasm-bindgen/tree/master/examples/import_js):
[code]

### Actual

[code]

Which results in `Module not found: Error: Can't resolve './defined-in-js' in '/wasm-tool/rust-loader/example/pkg'`.

### Expected

`defined-in-js.js` should be moved to `./pkg`.

[code]

Also note that o

[2018-07-30 17:42] ashleygwilliams commented on #240
@alexcrichton last i checked we were not super amped about this interface? is this what is stable? if so i can build it into wasm-pack, but i had been holding off

[2018-07-30 17:57] alexcrichton commented on #240
This is "stable" but only in a "that's how the attribute works" sense and not a "this is expected to work" sense. Imports from relative JS modules are basically not at all expected to work today, and if they do it's happenstance. In that sense I don't think this bug is actionable at the moment until there's an actual design for how relative paths and such are supposed to work.

Today the `#[wasm_b

[2018-07-30 18:17] ashleygwilliams commented on #240
gonna close this for the time being, based on @alexcrichton's comment above about the (lack of) functionality stability.

[2018-07-30 18:17] #240 closed

[2018-07-30 19:28] ashleygwilliams opened #241 "test wasm-pack-template in this repo"
related: https://github.com/rustwasm/wasm-pack-template/issues/12

<hr/>

plan:

- install cargo-genearte
- run `cargo-generate --git https://github.com/rustwasm/wasm-pack-template/issues/12`
- run `cargo build`
- run `cargo fmt`

this also makes me realize that i really want the template to live in this repo

[2018-07-30 19:29] ashleygwilliams commented on #235
go for it @data-pup that'd be awesome!

[2018-07-30 21:23] fitzgen opened #242 "fail gracefully when run in a non-rust directory"
This occurred when I tried to use master wasm-pack with https://github.com/wasm-tool/rust-loader/tree/master/example

This is the `.toml` created by human-error:

[code]

[2018-07-30 22:31] fitzgen commented on #242
strace shows the CLI flags passed:

[code]

and shows `wasm-pack`'s attempt to open Cargo.toml failing:

[code]

I *think* what is happening is that `rust-plugin` is executing `wasm-pack` in the wrong directory, and `wasm-pack` is not gracefully handling this situation.

[2018-07-30 22:36] fitzgen commented on #242
I can reproduce this panic by running `wasm-pack build` in an arbitrary directory that is not a rust crate.

[2018-07-31 13:57] mgattozzi commented on #242
I have a suspicion that it's this line here:

https://github.com/rustwasm/wasm-pack/blob/883cae220c3131c2b60923be06a8c865a23fce13/src/command/build.rs#L70

[2018-07-31 14:53] ashleygwilliams commented on #242
yeah ok, i agree it's almost certainly that. i had discussed a `wasm-pack check` command, which would probably help with this. i can probably take care of this today

[2018-07-31 18:35] fitzgen commented on #242
I can also take this, if you have higher priority 0.5.0 things, @ashleygwilliams. Alternatively, I can help out with other 0.5.0 things that aren't already taken.

[2018-08-01 03:06] chuyik commented on #219
I can't init the project even with features adjusted, would you like to point out where i did wrong? Thanks!

# System Info
[code]

# src/lib.rs

[code]

# Cargo.toml
[code]

# Terminal Log

[code]

[2018-08-01 06:51] Mackiovello commented on #219
Have you tried to update to the latest nightly with `rustup update nightly`?

[2018-08-01 07:59] chuyik commented on #219
Oh it works after I update rustc to `rustc 1.29.0-nightly (e94df4acb 2018-07-31)`, thanks!

[2018-08-01 14:44] #242 closed

[2018-08-02 19:18] #237 closed

[2018-08-02 19:51] ashleygwilliams opened #247 "reorg and fix .travis.yml to account for both release tasks and book deploy tasks"
similar to what @alexcrichton recently did for wasmbindgen: https://github.com/rustwasm/wasm-bindgen/blob/master/.travis.yml

[2018-08-02 22:52] fitzgen opened #248 "Add a `wasm-pack test` command"
**This still needs some design work before we start any PRs!**

* [ ] Should run `wasm-pack-test` on the project, if configured.

  * [x] Depends on https://github.com/rustwasm/wasm-bindgen/issues/615

* [ ] Should run `npm test` on the project, if it contains JS integration tests.

Open questions:

* How to best determine whether a project is using `wasm-pack-test`? Probably reading `Cargo.toml`

[2018-08-02 22:56] fitzgen opened #249 "Add a parcel chapter to hello wasm-pack tutorial"
I can do this once @ashleygwilliams sends me the example project that the parcel folks shared with us and let's me know when the docs are stable enough that I won't be stepping on toes and creating merge conflicts :)

[2018-08-07 04:57] colemickens opened #251 "build.rs usage?"
Does it make sense to call this tool from `build.rs` to have a fully cargo driven build workflow?

If so, can we add some examples of this to the README? If it makes sense, I'll try to figure it out and could send a PR for the README, but I want to make sure it makes sense first.

[2018-08-07 06:41] colemickens opened #252 "`target` dir and compiled wasm is not found when using a workspace"
https://github.com/atom/xray uses a workspace.

As I'm trying to move it to `wasm-pack`, I'm getting stuck due to it looking for `target/` next to the local Cargo.toml, instead of the top-level workspace `target/` dir next to the top-level `Cargo.toml`/`Cargo.lock`.

[code]

But it only looks for `xray_wasm/target/...`.

[2018-08-07 06:50] colemickens commented on #252
Looks like the problem is here: https://github.com/rustwasm/wasm-pack/blob/master/src/bindgen.rs#L46

There is a subcommand for cargo, `cargo metadata`, but it's not built-in.

I'm wondering if it's possible to include the functionality of `cargo metadata` in `wasm-pack` to discover the `$.target_directory` property of the metadata that points at where artifacts are.

[2018-08-07 14:05] mgattozzi commented on #251
Hmmm I personally don't think so since `build.rs` primarily is for prepping code like linking in C libraries or in the case of a library like `lalrprop` turning the file into valid Rust code before compiling with cargo.
Fundamentally this doesn't solve what `wasm-pack` does which is the actual compilation step and after it. Let's look at what `wasm-pack` is doing and see what could be put into `bu

[2018-08-07 14:14] mgattozzi commented on #252
Hey @colemickens thanks for taking the time to track this down! I think we've been writing the code with the assumption "This is not a workspaced repo" since we've been thinking of "this is one thing being uploaded to npm". I think this is a possible workflow, but I'll need to double check.

[2018-08-07 14:28] ashleygwilliams commented on #252
workspace support is def on the roadmap, i'm just not sure where. can talk about it at the meeting this week! i would of course accept a PR for this!

[2018-08-07 14:31] ashleygwilliams commented on #251
hey @colemickens - we definitely want to support as "normal" a cargo build workflow as possible. so yes, we would like to support this. how we do is an open question, but i imagine we can come up with something. cc @fitzgen @alexcrichton

[2018-08-07 14:47] #206 closed

[2018-08-07 17:11] fitzgen commented on #251
If post-build scripts had become a thing, then I would say that wasm-pack could be something you use as a library in a post-build script.

Unfortunately, I don't think that post-build scripts are going to be supported in cargo any time soon. I seem to remember there being one RFC that got closed, but it was also an overly terse/vague RFC, IIRC.

[2018-08-07 18:38] colemickens commented on #251
As I've looked at `wasm-pack` and `wasm-bindgen` more, I don't think this Issue necessarily makes sense. I was a bit early to file an Issue given my grasp of wasm/rust/etc. Thanks for the replies; I'm going to go ahead and close this.

[2018-08-07 18:38] #251 closed

[2018-08-10 08:32] colemickens commented on #252
Thanks for the replies! The only thing I'd thought of was a small bit to sniff out if the current directory contained "Cargo.lock", and if not  checking in the parent directory/directories. (For anyone else reading, I'm not actively looking into using `wasm-pack` right now, so I'm unlikely to author a patch.)

[2018-08-10 23:23] hoodie opened #253 "Links in readme don't point to docs/src"
## 🐛 Bug description
The links in the readme don't work on github

#### 🤔 Expected Behavior
I should have played with wasm-pack itself instead.

#### 👟 Steps to reproduce
1. https://github.com/rustwasm/wasm-pack
2. click on commands documentation
3. resist obivan octocatobi trying to convince you that this is "not the web page you are looking for"

#### 🌍 Your environment
Mild 23° on a Friday nigh

[2018-08-16 03:06] ootoovak commented on #7
I personally like README files that help guide new people into explaining what the intent of the library is how though some simple to slightly more complex examples. Then either a list of or links off to some API docs. Not to mention any other human / ecosystem related information.

In that people centric sense I think auto file generation could help but I personally would also like the option to

[2018-08-16 03:10] ootoovak commented on #7
For now I might try method 2 manually [in my crate](https://crates.io/crates/circle_boundary) and see if I find much duplication between the READMEs. (Rightly or wrongly I am aiming to have my crate usable by both Rust and JS.)

[2018-08-16 11:16] ootoovak commented on #7
Oh, also I guess there is the question about media referenced in the Readme. 🤔

[2018-08-16 22:27] chancancode opened #257 "wasm-pack publish does not support npm otp"
As far as I can tell, passing otp is not supported at the moment.

[2018-08-20 23:29] fitzgen opened #258 "Also install the nightly rust toolchain in the `build` command"
We do `rustup target add wasm32-unknown-unknown --toolchain nightly` in `wasm-pack build`, but that will fail if the nightly toolchain is not already installed:

[code]

Before we run that command, we should run `rustup toolchain add nightly`.

[2018-08-20 23:38] fitzgen commented on #258
We totally already do this and I am a dummy...

[2018-08-20 23:38] #258 closed

[2018-08-23 12:45] xmclark commented on #247
I made #259

[2018-08-23 13:53] julienw opened #261 "Output code that works in both browser and node environments"
## 💡 Feature description
Even when targeting the browser, the tests often run in node. Therefore we need that the code works in both environments.

Probably the resulting code should use `instantiateStreaming` directly for the browser instead of relying of the lib users to use Webpack and its translation, to be more universal. Because `instantiateStreaming` doesn't exist in node, we'd still need t

[2018-08-23 13:58] julienw commented on #261
closing in favor of https://github.com/rustwasm/wasm-bindgen/issues/233, sorry for the noise.

[2018-08-23 13:58] #261 closed

[2018-08-24 17:36] #253 closed

[2018-08-24 20:39] nikgraf opened #266 "Support targeting Node"
## 💡 Feature description

I was trying @xtuc's [wasm-node-loader](https://github.com/wasm-tool/node-loader), but noticed the output of wasm-pack is not compatible to Node 10.

Three things I noticed:

- the file ending of the generated JS file is `.js`, but node will require a `.mjs` ending.
- import of the wasm file not ending with `.wasm`.  e.g. `import * as wasm from './app_bg';
`. With the nod

[2018-08-25 14:35] xmclark commented on #235
In #263, I'm pretty close to a complete solution. What should be printed here? I could imagine writing the absolute path, or trying to use a nicer looking relative path.

![image](https://user-images.githubusercontent.com/1364747/44619307-0d078900-a839-11e8-851c-fbb8b5f7a218.png)

[2018-08-25 22:36] mgattozzi opened #270 "Handle versions of wasm-bindgen in lockfiles"
## 💡 Feature description
We have a basic implementation of keeping up to date with wasm-bindgen. Ideally though with the local install we'd tie the version to whatever is in the lock file to avoid issues with things like `Cargo.toml` using `wasm-bindgen = 0.2` as what version of `wasm-bindgen-cli` does this mean? Having a lock file look up would solve this issue.

[2018-08-25 22:54] mgattozzi commented on #257
This is correct, we currently do not do this. However, since we already wrap npm for many commands it wouldn't be hard to pass another flag to allow this.

[2018-08-25 22:56] mgattozzi commented on #247
Closed in #259! Thanks @xmclark!

[2018-08-25 22:56] #247 closed

[2018-08-25 23:15] mgattozzi commented on #266
Hey @nikgraf so this is doable. However, the major blocker is `wasm-bindgen` until that gets support for Node modules we won't be able to move this forward, because otherwise we'd be parsing JS files to do the transform rather than wasm-bindgen spitting them out automatically as `.mjs` files with the correct `import` statements.

[2018-08-26 08:34] nikgraf commented on #266
Thanks for the clarification 👍

[2018-08-27 16:58] fitzgen commented on #235
Either one sounds good to me.

[2018-08-27 21:09] fitzgen commented on #270
Finding the lock file can be interesting if the crate is in a workspace. We can leverage https://crates.io/crates/cargo_metadata to help.

[2018-08-28 00:46] xmclark opened #272 "must match wasm-bindgen versions exactly"
## 🐛 Bug description
wasm-pack does not do what I expect when choosing to install wasm-bindgen. wasm-pack requires the version of wasm-bindgen installed and the one specified in the application's Cargo.toml to match exactly. A package with a partial version (e.g. 0.2 or 1) do not match liberally with an installed version of wasm-bindgen.

#### 🤔 Expected Behavior
I would expect the partial version

[2018-08-28 10:31] rbuckland commented on #252
My use case is a overarching library that encompasses
- wasm published version
- rust native lib
- command line binary

and as a result, it's split up into workspace subdirs. https://github.com/inosion/madato/tree/wasm_separate

@ashleygwilliams How did the meeting go regarding a direction ?

[2018-08-28 18:00] fitzgen commented on #272
We must match the wasm-bindgen version used to in `cargo build` exactly (ish) and the way to do that properly is #270. That will also allow cargo to choose a semver compatible version of wasm-bindgen, and also for wasm-pack to use that exact version.

Going to close this as a duplicate of that issue -- thanks for taking the time to file an issue!

[2018-08-28 18:00] #272 closed

[2018-08-29 00:26] fitzgen commented on #51
Fixed in #192

[2018-08-29 00:26] #51 closed

[2018-08-29 20:24] grisli opened #274 "wasm-pack build subcommand not available"
## 🐛 Bug description
After installation of wasm-pack the build subcommand isn't available as expected. When i run wasm-pack in console i get following output:

`wasm-pack 0.4.2
Ashley Williams <ashley666ashley@gmail.com>
📦 ✨  pack and publish your wasm!

USAGE:
    wasm-pack [FLAGS] <SUBCOMMAND>

FLAGS:
    -h, --help       Prints help information
    -V, --version    Prints version information

[2018-08-29 20:29] fitzgen commented on #274
Thanks for filing an issue. The `build` subcommand is only in `master` right now, there hasn't been a release with the `build` subcommand yet, but once there is it will be available.

[2018-08-29 20:29] #274 closed

[2018-08-30 11:26] TejasQ opened #275 "Compilation fails with an error I can't understand"
## 🐛 Bug description
I run `wasm-pack` on a "hello world" project from this repo's docs and get this:

[code]

Moreover, the `--verbose` flag doesn't work:

[code]

#### 🤔 Expected Behavior
What should have happened?

I should have had a `package.json` with compiled wasm code, or have been able to debug with `--verbose`.

#### 👟 Steps to reproduce
Clear steps describing how to reproduce the issue,

[2018-08-30 16:40] fitzgen commented on #275
This looks like a broken `lld`/llvm toolchain -- are you messing with `DYLD_LIBRARY_PATH` or soemthing like that by chance?

@alexcrichton any idea what might be going on here?

[2018-08-30 16:49] alexcrichton commented on #275
Ah yes thanks for the report! This is due to https://github.com/rust-lang/rust/issues/53813 which is fixable via two methods:

* First, you can run `rustup component add llvm-tools-preview --toolchain nightly`
* Second you can use older nightlies temporarily

We should have a fix soon in nightly!

[2018-08-30 16:49] #275 closed

[2018-08-30 17:03] TejasQ commented on #275
Thanks, you guys!

[2018-08-30 20:15] data-pup commented on #270
Digging into this now :smile_cat:

https://github.com/oli-obk/cargo_metadata/blob/master/src/lib.rs#L156

It does look like the `Cargo.toml` dependency is what is given, rather than the lockfile. This crate should still be useful for finding the lock file though :)

[2018-08-30 20:31] data-pup commented on #270
Sounds good to me :o) I'll follow up if I have other questions!

[2018-08-31 02:19] WangZishi opened #277 "pack error on Windows 10 17746"
## 🐛 Bug description
I just try the hello world on my computer.
Project structure is

![default](https://user-images.githubusercontent.com/8288105/44888820-a20cf500-ad05-11e8-89f5-ade2f151f66a.png)

`wasm-pack init` is success
![default](https://user-images.githubusercontent.com/8288105/44888939-3b3c0b80-ad06-11e8-80ab-0884f589602b.png)

but `wasm-pack pack . ` is faild
![default](https://user-ima

[2018-08-31 20:07] fitzgen commented on #277
Thanks for the bug report!

[2018-09-04 20:15] fitzgen commented on #235
Fixed in #263

[2018-09-04 20:15] #235 closed

[2018-09-05 03:54] csmoe commented on #277
could you provide your local npm meta info? I suspect that `npm` wasn't installed on your machine.

[2018-09-05 14:08] ashleygwilliams opened #278 "if generating wasm intended for browser, use `browser` key instead of `main` in `package.json`"
https://docs.npmjs.com/files/package.json#browser

[2018-09-05 16:12] fitzgen opened #279 "Error constructor methods should return `Self` instead of `Result<(), Self>`"
There are places where we want to return an error in a method that returns `Result<Something, Error>` and are forced to do nasty things like `Error::crate_config("...").map(|_| unreachable!())` to make it type check. At this point, it would be easier to just do `Err(Error::crate_config(".."))` everywhere after changing the `Error` constructors to return `Self`.

[2018-09-05 16:17] fitzgen opened #280 "Most fallible methods should return `Result<T, failure::Error>` instead of `Result<T, wasm_pack::error::Error>`"
A `wasm_pack::error::Error` will `Into` a `failure::Error` so existing `?` locations shouldn't need any changes.

Basically, only "leaf" errors should be `wasm_pack::error::Error` and everything else should be `failure::Error`.

Then we should put `.context("..")` (or `.with_context(|e| ...)`) onto all non-leaf `?` sites, providing better error messages and cause-and-effect chains.

[2018-09-06 12:56] csmoe commented on #277
@WangZishi I suspect that `npm` wasn't installed on your machine, could you paste the `npm` meta info here?

------

@fitzgen
anyway, `pack` cmd invokes `npm` directly https://github.com/rustwasm/wasm-pack/blob/89be40df2f478a19b9fdd38dafdc7792967560f2/src/npm.rs#L10-L18
maybe better to add a binary exsit_or_not checking as you did in `test` PR here?

[2018-09-06 15:03] data-pup commented on #279
I'd love to help out with this one! I remember doing this for #244, and pulling it out so the PR would be a little cleaner. I don't think it would be hard to do again :smile_cat:

[2018-09-06 15:47] data-pup commented on #270
I think I have a lot of the work on this done :smile_cat: I should be able to open a PR shortly.

As an aside, is there anywhere where the fields in `Cargo.lock` are officially specified? The closest I could find was [this](https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html), in the Cargo book.

[2018-09-06 16:03] fitzgen commented on #279
Great! ^_^

[2018-09-06 16:04] fitzgen commented on #270
I think @ashleygwilliams or @alexcrichton would know the answer to that question.

[2018-09-06 16:06] fitzgen commented on #277
That sounds good to me! We should probably always do that, just to get good error messages to users

[2018-09-06 16:13] alexcrichton commented on #270
Ah they're not necessarily officially specified but when using TOML+Serde you can deserialize into a structure like:

[code]

and that should be enough to match on `wasm-bindgen`!

[2018-09-06 16:17] data-pup commented on #270
Yay! Thanks for the help @alexcrichton, that lines up with what I had done so far. My struct looked like this:

[code]

Should I keep the `dependencies` field out of this, following your example?

[2018-09-07 04:02] WangZishi commented on #277
@csmoe
![default](https://user-images.githubusercontent.com/8288105/45197818-d0ef1200-b295-11e8-8ff1-bd70af8d786d.png)

[2018-09-07 18:16] fitzgen opened #284 "indicatif bug causes lack of output on msys and potentially other shells"
Until https://github.com/mitsuhiko/indicatif/issues/60 is fixed, we should probably stop using indicatif in wasm-pack, because it completely breaks the experience for a large swath of windows users.

[2018-09-07 18:56] ashleygwilliams commented on #284
i would prefer a solution that gracefully degrades for consoles we know we can't support. @alexcrichton says that cargo does this in many areas so we can use that as an example. i would prefer that solution to simply removing the progressbar entirely.

[2018-09-07 20:09] alexcrichton opened #286 "Avoid informational output that may become boilerplate"
## 💡 Feature description

One of the CLI designs of Cargo that I think has worked out well is that Cargo only emits messages on the console if something is likely to be "long running". The precise definition of what's long running changes over time, but it generally is "user perceptible" from what I've seen. For example Cargo will print out whenever it downloads something from the network or execu

[2018-09-07 20:10] alexcrichton opened #287 "Show the output of Cargo's build"
## 💡 Feature description

Compiling a crate can often take quite a long time and it's nice to know about the progress within the build when checking up on it. Would it be possible to avoid suppressing the output of `cargo build` and have it stream to the console?

[2018-09-07 20:14] alexcrichton opened #288 "Colors in rustc's error mesages are lost"
## 🐛 Bug description

When compiling code with `wasm-pack build` the compiler's error messages are not printed with colors.

#### 🤔 Expected Behavior

The compiler's colors come through!

#### 👟 Steps to reproduce

If you create a blank `src/lib.rs` with only one token in it, `x` (invalid rust code), then `wasm-pack build` will show the compiler's error but without colors

[2018-09-07 20:14] alexcrichton opened #289 "Don't force usage of the nightly toolchain"
## 💡 Feature description

Currently wasm-pack will automatically switch to (and download if necessary) the nightly toolchain, but the upcoming 1.30.0 release will support `wasm-bindgen` and `wasm-pack` on stable. It'd be great if, while 1.30.0 is in beta, we could also test out beta!

One idea could be to perhaps look at rustc's current version and automatically switch to nightly if it's less than

[2018-09-07 20:15] ashleygwilliams commented on #287
i have also wanted this! i think it's possible, and i'd want it to be default, *i think*, though i do think we might want to give a flag option to turn it off. any one else have thoughts?

[2018-09-07 20:17] ashleygwilliams commented on #289
sounds good to me! would we want ways to manually override as well? `--toolchain=nightly` or  `--toolchain=beta`

we ended up forcing nightly because people with strange setups were sometimes running into issues where another toolchain ended up getting used. i don't feel strongly about it and i think it's a good idea to make it more flexible as the edition approaches!

[2018-09-07 20:18] alexcrichton opened #290 "Fails to recognize wasm-bindgen outside of `[dependencies]` in Cargo.toml"
## 🐛 Bug description

Currently `wasm-pack` will automatically verify that `wasm-bindgen` is listed in your manifest (yay!) but it doesn't catch situations like:

[code]

printing the error:

[code]

Projects that support multiple platforms may not always pull `wasm-bindgen` in on all platforms, so this may come up in various libraries that want to use `wasm-pack test` but also want to have a diff

[2018-09-07 20:33] alexcrichton commented on #286
FWIW the original design of Cargo would print "Fresh foo v0.0.1" for all crates you already had compiled locally, meaning you'd always see your dependencies either as "fresh" or "now it's recompiling". I was personally a bit dismayed when we started hiding "Fresh" by default, but nowadays I can't imagine Cargo going back to that again.

I personally like knowing what's going on under the hood in t

[2018-09-07 20:40] alexcrichton opened #291 "Error messages for spawned processes don't include exit status and/or stdout"
## 🐛 Bug description

One issue we've run into with Cargo a lot is that processes inevitably fail for really weird reasons under really weird conditions. Currently it looks like wasm-pack will ferry along the stderr of a spawned process if the exit status doesn't indicate success, but this can often be confusing in situations such as:

* If the binary segfaulted (for whatever reason) often no outp

[2018-09-07 20:45] alexcrichton opened #292 "wasm-bindgen is installed directly in to crate's source tree"
## 🐛 Bug description

It looks like `wasm-bindgen` is directly installed into the crate's source tree in the case that it's not already found globally. This seems suboptimal in the case that it's more files projects have to add to their `.gitignore` and also it doesn't allow wasm-pack to cache per-user each installed wasm-bindgen version. Could wasm-pack perhaps have something like `~/.wasm-pack`

[2018-09-07 20:48] fitzgen commented on #287
Personally, I'd prefer always displaying all output by default, but having a `-q` flag to `wasm-pack` which makes it not display subprocess's outputs.

It would be neat if we prefixed the output with the command that was run, eg:

[code]

[2018-09-09 18:10] alexcrichton commented on #284
Digging more into https://github.com/mitsuhiko/indicatif/issues/60 *only* using `indicatif` seems like it suffers another bug, printing zero output when output is piped somewhere else. I believe that means if you try to pipe `wasm-pack` output to a log file, for example, then nothing will get printed at all. That I believe is also quite serious and in need of fixing, although I don't know whether

[2018-09-09 22:37] srounce opened #294 "Published documentation is from the future"
## 🐛 Bug description
The currently published crate (at time of writing) is 2 months old. Anyone installing via `cargo install wasm-pack` may be confused as to why the advice featured in the documentation isn't applicable to the version they have installed.

#### 🤔 Expected Behavior
Version of latest published `wasm-pack` crate is relevant to the published documentation.

#### 👟 Steps to reproduce

[2018-09-11 16:56] alexcrichton opened #295 "idea: "Installers" for `wasm-pack`"
Currently one of the main installations methods for `wasm-pack` is `cargo install`, and this has a few great benefits to it:

* Users don't have to know what platform they're running on, they just need `cargo` which is already pretty easy to install.
* Users don't need to set up `PATH` to get `wasm-pack`-the-subcommand because Cargo already takes care of those warnings.
* It's a pretty seamless ex

[2018-09-11 19:57] #257 closed

[2018-09-11 20:03] ashleygwilliams opened #297 "support --access flag to publish command"
## 🐛 Bug description
Scoped packages default to private publishing and we currently do not expose any `--access` flag. As a result folks who want to make a scoped package can only publish as a private package, which requires a paid account.

[2018-09-11 21:22] fitzgen opened #298 "Mini RFC: wasm-pack should use progressive enhancement in its output"
## Summary

`wasm-pack` should default to plain text output and use progressive enhancement to add bells and whistles such as colors, bold, and progress bars when the functionality is available.

## Motivation

`wasm-pack` should work seamlessly with all terminals on all platforms, and when its output is piped to another process or a log file. Users should never see garbled characters or color cod

[2018-09-11 21:59] stuarth commented on #280
I'd be happy to take this one!

[2018-09-11 22:34] alexcrichton commented on #295
FWIW this came up when @fitzgen and I were talking today about the possibility of linking wasm-pack with binaryen directly, but requiring all users to have a C++ compiler (especially new users) can make for a bad first impression pretty easily unfortunately

[2018-09-11 22:41] stuarth commented on #280
@fitzgen wanted to check my understanding on this. The idea is I'll convert a fn like

[`step_check_crate_config`](https://github.com/rustwasm/wasm-pack/blob/2ef929dc91b7e713cd4602ba69fba9fb6d4db4d0/src/command/build.rs#L161) to `Result<(), failure::Error>` and add a `context` / `with_context` to its call to `check_crate_config`

What I'm not seeing -- and apologies if I'm overlooking something ob

[2018-09-11 22:46] fitzgen commented on #280
Correct.

All those should become `failure::Error`s too, so no need to convert to `wasm_pack::error::Error` ;)

Thank *you!*

[2018-09-11 23:02] stuarth commented on #280
Ah, gotcha. I think I'd misread your intent with leaf / non-leaf.

Am I right in thinking that when you say "leaf" you mean something like a function that reads a config from disk? And a non-leaf fn is one that builds on top of it, e.g. initiating a build that depends on that config?

[2018-09-12 09:27] CRogers commented on #289
I've been very confused for the past hour or so because `wasm-init` is not using the toolchain I've listed in my [`rust-toolchain`](https://github.com/rust-lang-nursery/rustup.rs#the-toolchain-file). Instead it ended up using and older nightly I have installed which has this bug: https://github.com/rust-lang/rust/issues/53813

[2018-09-12 19:01] #147 closed

[2018-09-13 18:24] TejasQ opened #303 "Strange behavior on first run of `wasm-pack init`"
## 🐛 Bug description

So in a new Rust project, I have my code written and sitting pretty and everything works. I am then ready to compile to wasm. I run `wasm-pack init` and get an error (described below). If I run the same command again, _everything works as expected_. 🤔 So weird.

**Error:**
[code]

#### 🤔 Expected Behavior
What should have happened?
It should have created a `pkg` folder with m

[2018-09-13 19:47] fitzgen commented on #298
There was some discussion of this at todays WG meeting. Consensus was that where possible, we should push this into upstream crates, but also generally do wahtever it takes to get the behavior described here at the end of the day.

[2018-09-13 19:51] fitzgen opened #304 "Implement NPM dependencies RFC"
https://github.com/rustwasm/rfcs/pull/4

Once we have consensus, have worked out the kinks, and accept the RFC, then `wasm-pack` has a little bit of implementation work to do. This is a placeholder for that work, whatever it ends up being!

[2018-09-13 19:57] fitzgen opened #305 "Ensure that running `wasm-pack build` in two crates in the same workspace works"
Follow up to https://github.com/rustwasm/wasm-pack/issues/252

We want test coverage that ensure that if we have

[code]

running `wasm-pack build` in `crate_a` works, and running `wasm-pack build` in `crate_b` right afterwards also works.

[2018-09-13 20:07] fitzgen commented on #292
This came up at the WG meeting today.

Potential directory structure to allow both de-duplicating and arbitrary versions installed side by side:

[code]

Questions:

* Do we want this kind of general thing? That is de-duplicated binary installs somewhere in the home directory? (Note: we do *not* want to lose the always-uses-the-correct-version property that we currently have, and this is a hard re

[2018-09-13 20:33] fitzgen commented on #249
cc @sendilkumarn

[2018-09-13 21:47] alexcrichton commented on #292
I think given the purpose of `wasm-pack`, which is a cargo-like experience to run across all the projects you have locally on a machine, it makes sense to use a global cache for these downloaded items. They're not of trivial size and can be somewhat expensive to download for a lot of projects, and by having a global cache I think we'd improve the user experience pretty well.

If we decide to do th

[2018-09-13 21:55] ashleygwilliams commented on #303
hi @TejasQ - thank you for the thoughtful report, and so sorry you are running into this! due the unpredictable nature of the bug, i'll do my best to figure this out as soon as possible for ya, though it may take a bit to track down.

since it's only happening some of the time, i imagine there is a race condition... somewhere? is there any chance you could point me to the source code? or share a b

[2018-09-13 22:03] TejasQ commented on #303
Oh, the source code is just a reproduction of the README for a demo I'm doing at an event to get people fired up about this project.

Here's the code. I could even push up a repo if it helps. I'll do that shortly.

[code]

[2018-09-13 22:06] TejasQ commented on #303
[Here's the repo](https://github.com/TejasQ/wasm-pack--303).

[2018-09-13 22:06] TejasQ commented on #303
Thanks so much for your willingness to help, Ashley! 🎉

[2018-09-13 23:47] #248 closed

[2018-09-14 15:30] ashleygwilliams commented on #303
hey @TejasQ thanks for the materials- i wasn't able to recreate the bug. one thing i can note- it looks like the binary created in your error case was called `my_wasmp.wasm`:

[code]

however, the name in your Cargo.toml is `my-wasm-app`. did you change the name in your `Cargo.toml` at all? If not, that would suggest that `wasm-pack` is doing that, though I find that a bit surprising... (still not

[2018-09-14 16:46] TejasQ commented on #303
Oh no, I totally changed the name so it's more readable.

[2018-09-14 16:53] ashleygwilliams commented on #303
ah! ok- so perhaps changing the name was the issue... can you try again? that may have been the culprit. if you run `wasm-pack` and then change the name and run it again, it will look for the name in the `Cargo.toml` but i don't think it will always rebuild the binary (this is cargo- not wasm-pack). generally (and this is not ideal, but can guarantee no issue)- if i change anything in Cargo.toml `

[2018-09-14 17:59] TejasQ commented on #303
Okay, so for context:

The name of the app was `my-wasmp` in the beginning. I ran the compiler, and it failed with that error (which could be because of underscores instead of hyphens?). I ran it again, and it passed.

I then opened this issue, and renamed the project _after_ the bug report for y'all's reading pleasure.

For that reason, I don't think changing the name was the culprit. I can try t

[2018-09-14 21:32] #297 closed

[2018-09-14 22:17] TejasQ commented on #303
Ah, I'm sorry y'all – it is _so random_.

Here's _exactly_ what I do to reproduce this on a semi-consistent basis:

1. `cargo new my-wasm-app`
1. `cd my-wasm-app`
1. Edit `Cargo.toml`
    - Add `wasm-bindgen = "0.2.21"` under `dependencies`
    - Add `crate-type = ["cdylib"]` under `lib`
1. Create `src/lib.rs` with the code from my repro repo.
1. Save.
1. Run `wasm-pack init`
1. It fails.
1. Run i

[2018-09-16 18:13] pcstl opened #308 "wasm-pack does not find installed wasm-bindgen"
## 🐛 Bug description
On MacOS, `wasm-pack` will always take 4 to 5 minutes to run, stopping at the "[7/8] Installing wasm-bindgen..." stage.

#### 🤔 Expected Behavior
`wasm-pack` should use an existing `wasm-bindgen` install instead of redownloading every time.

#### 👟 Steps to reproduce
On a Mac, install `wasm-pack`, NPM, the wasm `rustc` backend, and `cargo-generate`.
Run the following commands:

[2018-09-16 19:17] pcstl commented on #308
@xmclark

[code]

[2018-09-16 19:26] xmclark commented on #308
I had the exact same issue before. The easiest way to fix is setting the patch version. e.g. `wasm-bindgen = "0.2.19"`

The wasm-bindgen version has to match the one you have installed exactly. You have a wasm-bindgen v 0.2.19 or something installed, and it is matching on 0.2, so it always fails the check.

There is a little blurb with more explanation on the issue:
https://github.com/rustwasm/was

[2018-09-17 20:35] ashleygwilliams opened #309 "use `module` key for ES6 generated assets"
and add "sideEffects": "false" so tree shaking can happen

[2018-09-17 21:48] ashleygwilliams opened #310 "investigate tests running incredibly slow on mac os"

[2018-09-18 14:24] bnjbvr opened #311 "Docs mention a "build" command which doesn't exist"
I was looking at https://rustwasm.github.io/wasm-pack/commands/index.html, which says that `init` has been deprecated in favor of `build`. Unfortunately, it seems the `build` command doesn't exist anymore. I wonder if these docs are entirely deprecated in favor of the wasm-rust book even :thinking:

Thanks for making `wasm-pack` btw! It's made compiling rust-to-wasm much easier than it was a few m

[2018-09-18 15:08] mstallmo commented on #311
@bnjbvr IIRC the ```build``` command hasn't been released yet. ```init``` is the older way of calling ```wasm-pack``` . I think the change to ```build``` will be released after Rust itself releases the 2018 edition which should be with ```1.31```. (This I'm less confident about but I'm pretty sure I remember hearing/reading that was the release timing)

These docs aren't deprecated they're just a

[2018-09-18 15:26] ashleygwilliams commented on #311
yup @mstallmo is right- there's another issue saying that the docs are "from the future"- this is a problem that will be solved from the next release. sorry about the trouble- we know it's a pain point and hopefully we can release soon and fix this!

[2018-09-18 15:45] ashleygwilliams commented on #308
ideally, when https://github.com/rustwasm/wasm-pack/issues/270 is fixed (there is an open PR right now for it) this will also be fixed. our next release is blocked until that PR lands- but hopefully we should be able to get it done this week. sorry you ran into this @pcstl and thanks @xmclark for helping respond! super appreciate you both 🤗

[2018-09-18 15:46] bnjbvr commented on #311
Ha, I see, thanks for the answer! Is there another way to re-trigger a regular build without force-installing `wasm-bindgen` every time I run `wasm-pack init`? (I've found `wasm-pack init --mode no-install`, which seems to do what I want, but the long switch made me wonder if there was some shorter way to do so)

[2018-09-18 15:48] ashleygwilliams commented on #277
ah @WangZishi what happens when you run `wasm-pack pack` (without the dot?). the dot shouldn't cause an issue but it may be...

[2018-09-18 15:51] ashleygwilliams commented on #303
testing this out- but one thing to note! you'll probably want to pass `--lib` to the `cargo new` command :) the default changed a bit ago (it creates a binary project by default now, and you'd want a lib for this)

[2018-09-18 15:58] ashleygwilliams commented on #311
@bnjbvr as mentioned on IRC but here also for posterity- the wasm-bindgen install is the biggest pain point with this tool right now. early on we opted to force an install because wasm-bindgen has strict requirements that the CLI tool and the lib have exactly matching versions to work and folks kept bumping into issues when they didn't match. that being said, using `cargo install` forces not just

[2018-09-18 16:04] ashleygwilliams commented on #303
OK! can reproduce! here's the output i get

[code]

and here's the repo with all assets, generated included: https://github.com/ashleygwilliams/303-repro

[2018-09-18 16:05] ashleygwilliams commented on #303
looks like it's a `-`/`_` issue, and i should be able to fix it today

[2018-09-18 16:41] TejasQ commented on #303
WOAH how'd you reproduce it? Was it following my steps?

[2018-09-18 16:44] ashleygwilliams commented on #303
@TejasQ yes! though i had to change a few things in your instructions :) i think i know what the issue is (we do account for the -/_ but i guess there's a bug in it! gonna try to have a patch today)

[2018-09-18 16:45] TejasQ commented on #303
Thanks!

Thanks for the shorthand! So far, I've been manually making `lib.rs` and adding `lib` to Cargo.toml. 😅

[2018-09-18 16:46] ashleygwilliams commented on #303
@TejasQ so that generally works, but you'll note that `Cargo.lock` is not ignored for binary projects, but is ignored for library projects! if you keep doing it manually don't forget to add `Cargo.lock` to the `.gitignore` :)

[2018-09-18 17:04] TejasQ commented on #303
Hah! I really shouldn't keep doing that manually. Always trust the abstraction, as they say. `¯\_(ツ)_/¯`

[2018-09-18 17:55] ashleygwilliams commented on #308
@pcstl wasm-pack will do a full install everytime to ensure that the correct version exists. if you are sure you have the correct version you can run the command with `--no-installs` and avoid the installation steps. verison 0.5.0 will mitigate all of this, hopefully we can release it this week.

[2018-09-19 15:17] ashleygwilliams opened #313 "give option target=all which generates pkg supporting commonjs and esm"
groundwork in #312 once merged, i'll start on it. in the meantime- if we want to bikeshed the target argument, let's

[2018-09-19 15:31] ashleygwilliams opened #314 "0.5.0"
changelog, version bump, get hype

[2018-09-19 16:11] fitzgen commented on #308
@pcstl it's `-m no-install`, not `--no-install` (when in doubt, run `--help` for a full listing of flags)

[2018-09-19 17:55] Nfinger opened #315 "Error when running wasm-pack init with the actix as a dependency"
## 🐛 Bug description
Describe your issue in detail.
When I run wasm-pack init with the dependencies listed below I get an error in socket2

#### 🤔 Expected Behavior
What should have happened?
The code should build in to /pkg

#### 👟 Steps to reproduce
Clear steps describing how to reproduce the issue, including commands and flags run. If you are seeing an error, please include the full error messa

[2018-09-20 10:46] catsigma opened #317 "`--no-modules` for wasm-pack"
## 💡 Feature description
`--no-modules` comes with `wasm-bindgen-cli` and it's needed for some bundlers.

[2018-09-20 11:11] xieyuheng opened #318 "can I config wasm-pack to use debug compile instead of release compile ?"

[2018-09-20 11:59] xieyuheng commented on #318
no progress report, when wasm-pack is blocked, even with `wasm-pack -vvv init`

[2018-09-20 12:16] xieyuheng commented on #318
is it installing wasm-bindgen during `\ [7/8] Installing WASM-bindgen...` ?
even when I already have `wasm-bindgen` installed ?

[code]

[2018-09-20 12:29] xieyuheng commented on #318
I think the problem is here :: https://github.com/rustwasm/wasm-pack/blob/master/src/bindgen.rs#L87

[2018-09-20 12:30] xieyuheng commented on #318
I hope you can fix this T_T

[2018-09-20 12:34] xieyuheng commented on #318
[code]

[2018-09-20 15:51] #309 closed

[2018-09-20 16:41] ashleygwilliams opened #319 "cargo update"

[2018-09-20 16:42] ashleygwilliams commented on #318
hi! yes you can make `wasm-pack init` use debug by passing `--debug` https://rustwasm.github.io/wasm-pack/commands/build.html#debug

[2018-09-20 16:44] ashleygwilliams commented on #318
also we are familiar with the length of time it takes to download and compile wasm-bindgen. once you have it you can pass `--no-intsalls` to the command. the 0.5.0 release which should be soon will mitigate this dramatically by installing a binary and not requiring local compilation. let me know if there's anything else i can help with- will close now, but will open again if you follow up!

[2018-09-20 16:44] #318 closed

[2018-09-20 16:45] ashleygwilliams commented on #317
i agree that wasm-pack should support all the options that wasm-bindgen has! i am curious which bundlers need to use `--no-modules` (just for my own edification!). thanks for filing this :)

[2018-09-20 16:46] ashleygwilliams commented on #284
this should be remedied by by the update to the console crate which will be handled by #319

[2018-09-20 17:14] alexcrichton commented on #284
Ah unfortunately the issue isn't 100% fixed from wasm-pack's perspective I think. There's still two issues I believe:

* First is that the output on MSYS2 is unfortunately still not great. I suspect this is a bug still in either `indicatif` or `console`, but the progress bar doesn't update the current line but rather updates the next line:

[code]

* There's still a bug with wasm-pack (not indicat

[2018-09-20 17:16] alexcrichton commented on #284
I've opened https://github.com/mitsuhiko/indicatif/issues/62 for the indicatif/console bug

[2018-09-20 17:48] fitzgen commented on #315
I'm assuming that `socket2` is some kind of wrapper around OS networking capabilities? wasm doesn't have access to those things, so it isn't going to work.

Either way, this isn't a wasm-pack bug -- if you think that actix should support targetting wasm, then bringing an issue up on their tracker to discuss the prospect is probably the best way forward (and we are happy to be looped into the discu

[2018-09-20 17:48] #315 closed

[2018-09-20 18:04] fitzgen opened #321 "Create a `wasm-pack` npm module that installs wasm-pack"
## 💡 Feature description

Publish a `wasm-pack` package to npm that runs the new wasm-pack installers, so JS users can get wasm-pack setup with just `npm i -g wasm-pack`.

#### 💻 Basic example

[code]

[2018-09-20 19:11] ashleygwilliams commented on #321
i will reserve this name now!

[2018-09-20 19:17] ashleygwilliams commented on #321
https://www.npmjs.com/package/wasm-pack/

[2018-09-20 20:03] ashleygwilliams commented on #303
just so you know- i haven't forgotten about this.. the issue is that i cannot figure out how to test this successfully. you are very right that it fails the first time, and then works the second! with no changes at all. this is a very interesting bug- still working on it!

[2018-09-20 20:14] ashleygwilliams commented on #303
OK! 10 more minutes and i have a test that reproduces the error, https://github.com/rustwasm/wasm-pack/pull/322

[2018-09-20 21:17] ashleygwilliams commented on #303
ok so this is pretty weird. first run produces what is on the left, second+ subsequent runs, what is on the right
<img width="1065" alt="screen shot 2018-09-20 at 5 15 52 pm" src="https://user-images.githubusercontent.com/1163554/45847416-f863c700-bcf8-11e8-827b-7e34faac4be6.png">

cc @alexcrichton @fitzgen you have any ideas? i am... baffled. these aren't even files that wasm-pack generates.

[2018-09-20 21:40] ashleygwilliams commented on #303
p sure this is actually in cargo or rustc, so for my current nightly i get this

[code]
next step is to reproduce with @TejasQ 's nightly version

[2018-09-20 21:50] ashleygwilliams commented on #303
@TejasQ so- i think that you may have run into this because you were running `cargo new` which generated a `main.rs`- did you have one when u ran the `wasm-pack init` command?

[2018-09-20 22:53] xieyuheng commented on #318
even with `no-installs` it is still `cargo install wasm-bindgen-cli --force`

[code]

[code]

[2018-09-20 23:05] catsigma commented on #317
The default wasm loader of Parcel doesn’t support an export object. So I need to replace the wash loader with the no ES module js file generated by wasmbindgen.

Friday, September 21, 2018, 00:45 +0800 from notifications@github.com  <notifications@github.com>:

[2018-09-20 23:20] #310 closed

[2018-09-21 07:30] TejasQ commented on #303
Yes!

[2018-09-21 14:01] ashleygwilliams commented on #303
@TejasQ so the best i can tell, this is the sitch we have (i'm gonna be way way way more methodical today so that i can really nail it down...):

- when a `lib.rs` is compiled, it produces a `wasm` and a `d` file that always inflect `-` to `_`
- when a `main.rs` is compiled, it produces a `wasm` and a `d` file that maintain the pkg name, regardless of hyphen usage
- when both are present, both set

[2018-09-21 14:21] TejasQ commented on #303
Thanks, Ashley! 🙌

While I'm happy to have a way to make it work, my inner engineer is _dying_ to either: a) answer the questions to which we have no idea, or b) find the answer. Can I help y'all look? Can we look together? Ah, this is my favorite part about coding!

[2018-09-21 14:39] ashleygwilliams commented on #303
oh i promise you i continue to dig :) a thing that would certainly help is to see if you can reproduce without a `main.rs`. also- one thing i noted is the rustc version you listed is actually a stable rust, wasm-pack enforces nightly at the moment, so i'm trying to figure out what version of nightly rust and cargo you ended up using the day you ran this. if you have any further ideas about that pl

[2018-09-21 14:40] matthiaskrgr opened #325 "homepage: a lot of internal links are broken"
I landed on https://github.com/rustwasm/wasm-pack, clicked on the link in the repo description which is
https://rustwasm.github.io/wasm-pack/

Inside this website, it looks like most of the links to other parts of the website throw `404`.
For example if I click `rust` of previously linked page, the url points to
"https://rustwasm.github.io/prerequisites/rust.html" which 404s, but the side-bar has

[2018-09-21 14:54] ashleygwilliams opened #326 "should we *continue* to enforce `cargo build --lib`"
digging into the bug from #303 has made me consider if we should enforce that `cargo build` build only the lib, by passing `--lib`. this leads to a few questions:

- are the legitmate reasons to write an binary application that is compiled by wasm-pack and published to npm? i'm thinking that potentially devtools e.g. a CLI application may actually be a use case we want?
- this begs the question...

[2018-09-21 14:58] ashleygwilliams commented on #325
yes! thanks for reporting. would happily take a PR for this :)

[2018-09-21 15:00] ashleygwilliams commented on #317
oh! interesting. we've been working with the Parcel team, and i am aware that the current way they handle wasm is slightly different from the webpack use case. thanks for the information.

tagging in @jamiebuilds - is supporting for an export object in the wasm loader on the roadmap? would like to hear your general thoughts on this (and anyone else on the team that might be working on this!) thank

[2018-09-21 15:02] ashleygwilliams commented on #317
@catsigma i'm gonna work on getting this in for 0.5.0 case (regardless of how the follow up with the Parcel folks shakes out) thanks again so much for the info! it's very helpful :)

[2018-09-21 15:10] ashleygwilliams commented on #278
removing the help wanted stuff on this because this is gonna be part of a bigger feature in https://github.com/rustwasm/wasm-pack/issues/313

[2018-09-21 15:11] ashleygwilliams commented on #278
also related to https://github.com/rustwasm/wasm-pack/issues/317

[2018-09-21 15:13] catsigma commented on #317
Thanks so much. 👍

Friday, September 21, 2018, 23:03 +0800 from notifications@github.com  <notifications@github.com>:

[2018-09-21 15:15] ashleygwilliams commented on #317
oh! as a followup- @catsigma what `package.json` keys would you want? any? perhaps `browser`?

[2018-09-21 16:04] mstallmo commented on #325
I'm currently working on a quick PR to fix this up right now but I'm new markdown books, is there anyway I can make a build of this locally to see and test my changes?

[2018-09-21 16:11] ashleygwilliams commented on #325
yup! if you `cargo install mdbook` you can run `mdbook serve` in the `/docs` directory :) there's more info here as well: https://github.com/rust-lang-nursery/mdBook

[2018-09-21 16:11] mstallmo commented on #325
Awesome, thanks!

[2018-09-21 18:16] #317 closed

[2018-09-21 18:17] #325 closed

[2018-09-21 18:19] ashleygwilliams opened #329 "enforce lib build only until we settle the question of how to handle binary projects"
there's a question in #326. until we solve it i think we should force cargo build to only build libraries.

[2018-09-21 18:28] ashleygwilliams opened #331 "new demo gif"
new demo gif showing `wasm-pack build` command

[2018-09-21 18:52] ashleygwilliams commented on #277
hrm. thanks so much for the response and sorry this is taking so long to figure out. @steveklabnik do you think you could try this locally?

[2018-09-21 18:53] ashleygwilliams commented on #278
closing because we're doing this for no-module now

[2018-09-21 18:53] #278 closed

[2018-09-21 18:56] steveklabnik commented on #277
I get

[code]

[2018-09-21 18:56] ashleygwilliams commented on #266
hey @nikgraf - so wasm-pack can support node by exporting CommonJS. would this work for you? we aren't currently of the impression that es6 modules on node are stable enough to support. you would need nodejs with a flag, which also still has bugs and edgecases, and we don't have a way to give reliable commonjs fallback either, which is frustrating.

let me know if the CommonJS use case works for y

[2018-09-21 18:58] ashleygwilliams commented on #152
closing as we already do this! please file again if you think the current set up doesn't fully address this issue!

[2018-09-21 18:58] #152 closed

[2018-09-21 19:01] ashleygwilliams commented on #217
we;re going to address this #289, closing this in favor of the most recent one

[2018-09-21 19:01] #217 closed

[2018-09-21 19:02] #329 closed

[2018-09-21 19:11] ashleygwilliams commented on #294
this will be solved by the new release- thank u for filing. despite not responding i saw this issue and have been using your clever description of this bug to refer to it. we intend to release early next monday and this should be settled. sorry for the pain, and thank u for filing

[2018-09-21 19:25] ashleygwilliams opened #332 "refactor target to use an enum"
it's stringly typed right now, let's not, and use the code for access i wrote as a pattern

[2018-09-21 19:32] jamiebuilds commented on #317
Hey @catsigma, could you share what you're doing in https://github.com/catsigma/parcel-plugin-wasmbindgen ? Just trying to figure out what Parcel is missing

[2018-09-21 19:54] konstin opened #333 "Use `--message-format=json` for getting the location of the generated files"
## 💡 Feature description

Currently, wasm-pack tries to guess the location of the asset from the Cargo.toml. With  `--message-format=json` we can get the location directly from cargo.

This should also fix #252.

#### 💻 Basic example

[code]

Implementation in pyo3-pack: https://github.com/PyO3/pyo3-pack/blob/2f0c8a926bf1b607c48589a2393604de322f7f40/src/compile.rs#L221-L232

cargo-metadata has a [

[2018-09-22 01:27] catsigma commented on #317
@jamiebuilds What I've done is pretty simple.

1. Hook my custom `.rs` asset in Parcel.
2. Compile the imported `.rs` file in `.js` file by using `wasm-pack` or `cargo & wasm-bindgen-cli`.
3. Get the generated `no-modules` JS adaptor and modify it to be a Parcel wasm loader.
4. Hook the modified wasm loader.
5. Disguise the `.rs` file as a `.js` file coding with importing the wasm file and exporti

[2018-09-22 03:10] catsigma commented on #317
@ashleygwilliams sorry, but I don't know what is the key in `package.json` for?

[2018-09-22 21:25] spencerwilson opened #337 "Broken link in changelog: "Passing arbitrary data to JS docs""
## 🐛 Bug description
The link "Passing arbitrary data..." in the changelog ([link](https://github.com/rustwasm/wasm-pack/blame/7df088caada068f4e7f93ff37da3284ef082e95c/CHANGELOG.md#L22)) is broken.

#### 🤔 Expected Behavior
The link leads to somewhere I can learn about how passing arbitrary data can work.

#### 👟 Steps to reproduce
Click the link.

#### 🌍 Your environment
n/a

[2018-09-23 04:34] catsigma commented on #317
@ashleygwilliams @jamiebuilds
I've figured out a way to overcome this issue by modifying es-modules version to no-modules version.

github: https://github.com/catsigma/parcel-plugin-wasm.rs
npm: https://www.npmjs.com/package/parcel-plugin-wasm.rs

And it supports both `wasm-pack` and `wasm-bindgen-cli` now.

Thank you both.

[2018-09-23 04:53] andrei-cacio commented on #311
@bnjbvr thanks for posting that shortcut command

[2018-09-23 12:41] konstin opened #339 "The cdylib's name can be overriden by lib.name"
## 🐛 Bug description

Currently, wasm-pack assumes the cdylib's name is the crate name with underscores and `.wasm` as extension, while this value can be overwritten by `lib.name` in Cargo.toml.

#### 👟 Steps to reproduce

`Cargo.toml`

[code]

`src/lib.rs`

[code]

Output of `wasm-pack build --mode no-install --debug`

[code]

#### :desktop_computer: Relevant code

https://github.com/rustwasm/was

[2018-09-23 16:51] konstin commented on #326
I had a similar situation in pyo3-pack: I started out with only supporting lib and then added bin support later. I ended up always setting `--lib` for lib targets and `--bin` for binaries. (Actually `--bins`, but that's because I haven't done multi-bin projects yet). For python packages the structure is different for binaries and for libraries, so you need to know the target before building anyway

[2018-09-23 17:51] spencerwilson opened #341 "wasm-bindgen installation doesn't understand semver"
## 🐛 Bug description
I have a project based on wasm-pack-template, whose Cargo.toml [specifies](https://github.com/rustwasm/wasm-pack-template/blob/b4ec84c9f26d943182c21bd66c6d824dc3824122/Cargo.toml#L14) the dependency `wasm-bindgen = "0.2"`, a semver "range constraint".

On my $PATH I have
[code]

 Running `wasm-pack -vvv build` yielded the following logs:
[code]
i.e., the version match failed,

[2018-09-23 18:12] spencerwilson commented on #341
This is a dupe of https://github.com/rustwasm/wasm-pack/issues/272, my apologies!

[2018-09-23 18:12] #341 closed

[2018-09-23 18:15] spencerwilson opened #343 "wasm-bindgen download URL is not always valid"
## 🐛 Bug description
When Cargo.toml specifices a range like `wasm-bindgen = "0.2"`, wasm-pack's attempt to fetch a prebuilt binary goes thusly:
[code]

wasm-bindgen, however, does releases of concrete semver versions, e.g., `x.y.z`. If both `0.2`s are substituted with `0.2.22` (for example), it doesn't 404.

#### 🤔 Expected Behavior
I think it'd be nice if wasm-pack, when fetching wasm-bindgen, h

[2018-09-23 18:16] spencerwilson commented on #343
Might be moot under https://github.com/rustwasm/wasm-pack/pull/302, where the notion of 'desired version of wasm-bindgen' is always a concrete version.

[2018-09-23 22:43] ashleygwilliams opened #344 "test tests broken"
details: https://travis-ci.org/rustwasm/wasm-pack/jobs/432264415#L685

[2018-09-23 22:44] ashleygwilliams commented on #344
may be solved by https://github.com/rustwasm/wasm-pack/pull/324 but need to file because our trav is all red now :( and want to document it for any contributors

[2018-09-23 22:45] ashleygwilliams opened #345 "docs for "template deepdive": src/lib.rs"

[2018-09-23 22:45] ashleygwilliams opened #346 "docs for "template deep dive": lib/utils.rs"

[2018-09-23 22:47] ashleygwilliams commented on #343
hey @spencerwilson ! sorry you ran into this- the reason we've been waiting on release is because we need #302 to land. i'm pretty sure that #302 should fix this- and it will be similar to what you specced out, except instead of grabbing latest, it will grab whatever version of wasm-bindgen you have in Cargo.lock. wasm-bindgen requires that its version match, so snagging latest would sadly not wor

[2018-09-23 22:47] #343 closed

[2018-09-23 22:55] #337 closed

[2018-09-23 22:57] ashleygwilliams opened #347 "links on homepage need to include the /wasm-pack segment"

[2018-09-23 22:58] ashleygwilliams opened #348 "favicon for homepage"

[2018-09-23 23:09] #347 closed

[2018-09-23 23:23] ashleygwilliams opened #351 "check that rust is installed, is above 1.30, or err, before all steps"
now with our fancy installers, people might install wasm-pack... and not have rust!

i would like to land this and then remove the enforce nightly. wasm-pack should check ur rust version and error if it won't work, giving instructions to folks on how to use rustup to fix.

[2018-09-24 00:00] mstallmo opened #352 "Add exclusion of IDE specific configuration folders to CONTRIBUTING.md"
## 💡 Feature description
Per @ashleygwilliams' suggestion in #334 I would like to add wording to CONTRIBUTING.md around making sure IDE specific configuration files and folders such as `.idea` are included in a contributor's global .gitignore file.

[2018-09-24 00:04] ashleygwilliams opened #354 "installer button URl needs wasm-pack segment"

[2018-09-24 00:05] ashleygwilliams opened #355 "show all install options on load, show detected system recommendation first"
it's.. just a little weird right now. i'm thinking we should just always display all the options but give the primary one first. we should also update the text to say if you "hate curl installer" to just use cargo or download the binary from github.

[2018-09-24 00:08] ashleygwilliams opened #356 "QA pass on the README"
since #246 i know the docs are good for 0.5.0 release, but the README could use a QA pass and probably a little work

[2018-09-24 00:11] ashleygwilliams opened #357 "i broke the book link with the new homepage"
and i should fix it but it's time to stop working now

[2018-09-24 00:25] ashleygwilliams opened #358 "what should we canonically link to as documentation for this crate?"
we have rustdoc and the book. this is really not a library that folks would use api docs for. should we make the canonical doc link (on cratesio) to the homepage?

[2018-09-24 01:27] csmoe commented on #358
I prefer to just "forget" the api docs on homepage, if it's really needed, how about add it into the contributing docs as `[dev docs](https://docs.rs/...)`

[2018-09-24 09:25] Varavarforvar opened #360 "404"
document get 404

[2018-09-24 10:01] xtuc commented on #266
This isn't blocking to me.

The issue is that the current ESM implementation in bundler and the future one in Nodejs, will have some differences, `.mjs` is an example.

I wouldn't work on making ESM for bundler also compatible for Nodejs.

[2018-09-24 12:36] ashleygwilliams commented on #360
yes- sadly i did this late yesterday while working on our first version of a website- i filed an issue here: #357. should be fixed soon!

[2018-09-24 12:36] #360 closed

[2018-09-24 13:31] #357 closed

[2018-09-24 13:47] #354 closed

[2018-09-24 13:53] #356 closed

[2018-09-24 15:30] #352 closed

[2018-09-24 23:22] ashleygwilliams opened #366 "allow -f to skip the rust version check"
maybe you have an old version of rust nightly you really love. i hope you know what you're doing.

[2018-09-24 23:27] #351 closed

[2018-09-25 00:33] fitzgen opened #368 "Document `wasm-pack test` subcommand"
(Does not need to block the 0.5.0 release IMO)

I can write up some quick docs for `wasm-pack test` and also link to the more in-depth `wasm-bindgen-test` documentation.

[2018-09-25 01:03] #366 closed

[2018-09-25 01:39] ashleygwilliams opened #370 "release checklist"
we have enough steps that it's time we made a checklist

[2018-09-25 01:52] #314 closed

[2018-09-25 04:08] alexcrichton opened #373 "Bundle `cargo generate` temporarily for ease of installation"
## 💡 Feature description

One of the [first steps](https://rustwasm.github.io/wasm-pack/book/project-setup/using-a-template.html) in the getting started guide is to `cargo install cargo-generate`, but this can take quite some time and also be difficult to execute in all circumstances (OpenSSL issues, libgit2 issues, etc).

It'd be awesome if instead `wasm-pack` bundled the code for `cargo-generate

[2018-09-25 08:39] marcocastignoli opened #374 "unresolved import `wasm_bindgen_macro::wasm_bindgen`"
## 🐛 Bug description
[code]

#### 🤔 Expected Behavior
It should compile

#### 👟 Steps to reproduce
I followed the https://github.com/rustwasm/wasm-pack#-quickstart-guide, it breaks at step
[code]

#### 🌍 Your environment
wasm-pack version: 0.4.2
rustc version: 1.29.0-nightly

[2018-09-25 12:14] ashleygwilliams commented on #374
hi @marcocastignoli ! i'm pretty sure this is because the latest wasm-bindgen requires rust version 1.30.0. you can install that using `rustup install beta` or `rustup install nightly`.

while you're at it- we released a new version of wasm-pack yesterday- i'd check it out, the user experience is way improved! (and helps catch things like this)

lemme know if you are still having issues!

[2018-09-25 12:14] #374 closed

[2018-09-26 19:47] yoshuawuyts opened #377 "wrong dependency flagged as missing"
## 🐛 Bug description
I ran `wasm-pack test` without `wasm-bindgen-test` installed, and got a message about `wasm-bindgen` not being installed instead.

#### 🤔 Expected Behavior
I should have received a warning about `wasm-bindgen-test` not being installed. Instead I had to read through the detailed log below to figure out what was wrong, which is easier to miss.

#### 👟 Steps to reproduce
Given th

[2018-09-26 20:20] fitzgen commented on #290
This should be fixed by using lockfiles now, yeah?

[2018-09-26 20:35] fitzgen commented on #331
This has been fixed.

[2018-09-26 20:35] #331 closed

[2018-09-26 20:35] fitzgen commented on #311
Fixed with the new release.

[2018-09-26 20:35] #311 closed

[2018-09-26 21:12] ashleygwilliams commented on #377
ack! thanks for the detailed issue! this is indeed a bug and we should fix it! looks like @fitzgen already has a PR ;)

[2018-09-27 10:21] yoshuawuyts opened #379 "error loading libLLVM using wasm-pack test"
## 🐛 Bug description
I tried running `wasm-pack test` on a project, and was met with a `rust-lld` error complaining about `libLLVM7.so` not existing.

#### 🤔 Expected Behavior
I was hoping to try `wasm-pack test` without any problems.

#### 👟 Steps to reproduce
It appears to be something specific to my machine, and not necessarily the project I was working on. The minimum repro I could make was an

[2018-09-27 10:42] GabrielMajeri commented on #379
Hold one a moment, LLD believes the path to your sysroot is `nightly-x86_64-unknown-linux-gnu`, but your `rustc --version` is 1.30.0-_beta_?

[2018-09-27 10:44] yoshuawuyts commented on #379
@GabrielMajeri oh interesting! -- I used `cargo override beta` to set the local path to beta (default is nightly). Perhaps that has something to do with it?

Going to try setting beta as default, and report back.

[2018-09-27 11:38] yoshuawuyts commented on #379
Okay, tried a few things but none of them worked:
- set the default toolchain to `beta`
- re-installed `wasm-pack` on `beta` (`cargo install --force wasm-pack`)
- uninstalled nightly toolchain
  - this shows that wasm-pack is still looking for the nightly toolchain, but can't find it anymore. It seems it's still trying to look for nightly.
- uninstalled `wasm-pack` and manually reinstalled, all on

[2018-09-27 19:28] LaylConway opened #380 "Relative path crate dependencies are canonicalized badly on windows"
## 🐛 Bug description
I was setting up a project using `parcel-plugin-wasm.rs`, which uses wasm-pack in the background.
When building the project, I got the following error.
[code]
The specified path of this dependency is:
[code]
It seems wasm-pack is canonicalizing this path, which results in a UNC Path on windows, which most windows API calls do not accept, resulting in an error.

#### 🤔 Expected

[2018-09-27 19:41] alexcrichton commented on #379
@yoshuawuyts do you perhaps have an entry in `PATH` pointing to the nightly folder with `rust-lld`? Also, to confirm, you've install Rust through `rustup`?

[2018-09-27 19:55] xmclark commented on #380
This has caused me some trouble too.

I have been working around the problem by first running the raw cargo build command e.g.

[code]

[2018-09-27 20:00] yoshuawuyts commented on #379
I do not. Just searched through my dotfiles to double check, [and came up empty](https://github.com/yoshuawuyts/dotfiles/search?q=lld&unscoped_q=lld).

Yes, I have. Currently at version 1.13.0

[2018-09-27 20:43] alexcrichton commented on #379
@yoshuawuyts can you confirm by using `which rust-lld` and `echo $PATH` to make sure nothing looks suspicious?

Another [stray `+nightly`](https://github.com/rustwasm/wasm-pack/blob/8e6cc1fc21b8285b81ff25765cd960dd9a0cd01e/src/test/mod.rs#L33) may be causing issues, but that in theory shouldn't cause problems here in that each rustup invocation is self-contained (although this still means that `wa